/*
 * Skin: Red
 * ---------
 */
.skin-red .main-header .navbar {
  background-color: #dd4b39;
}
.skin-red .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-red .main-header .navbar .nav > li > a:hover,
.skin-red .main-header .navbar .nav > li > a:active,
.skin-red .main-header .navbar .nav > li > a:focus,
.skin-red .main-header .navbar .nav .open > a,
.skin-red .main-header .navbar .nav .open > a:hover,
.skin-red .main-header .navbar .nav .open > a:focus,
.skin-red .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-red .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-red .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-red .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-red .main-header .navbar .sidebar-toggle:hover {
  background-color: #d73925;
}
@media (max-width: 767px) {
  .skin-red .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-red .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-red .main-header .navbar .dropdown-menu li a:hover {
    background: #d73925;
  }
}
.skin-red .main-header .logo {
  background-color: #ffffff;
  color: #000000;
  border-bottom: 0 solid transparent;
}
.skin-red .main-header .logo:hover {
  background-color: #fff;
}
.skin-red .main-header li.user-header {
  background-color: #dd4b39;
}
.skin-red .content-header {
  background: transparent;
}
.skin-red .wrapper,
.skin-red .main-sidebar,
.skin-red .left-side {
  background-color: #383838;
}
.skin-red .user-panel > .info,
.skin-red .user-panel > .info > a {
  color: #fff;
}
.skin-red .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-red .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-red .sidebar-menu > li:hover > a,
.skin-red .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #757575;
  border-left-color: #dd4b39;
}
.skin-red .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #757575;
}
.skin-red .sidebar a {
  color: #ffffff;
}
.skin-red .sidebar a:hover {
  text-decoration: none;
}
.skin-red .treeview-menu > li > a {
  color: #ffffff;
}
.skin-red .treeview-menu > li.active > a,
.skin-red .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-red .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-red .sidebar-form input[type="text"],
.skin-red .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-red .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-red .sidebar-form input[type="text"]:focus,
.skin-red .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.glyphicon .circle{position:absolute;bottom:0;right:0;border:2px solid #fff}.aside-collapsed .user-block{padding:15px 0 14px;margin:0;text-align:center}.aside-collapsed .user-block>.user-block-picture{float:none;margin:0 auto;width:50px}.aside-collapsed .user-block>.user-block-picture>.user-block-status{display:block}.aside-collapsed .user-block .user-block-info{display:none}.circle{display:inline-block;width:7px;height:7px;border-radius:500px;margin:0 .5em;background-color:#ddd;vertical-align:baseline;border:2px solid transparent}.circle.text-left{margin-left:0}.circle.text-right{margin-right:0}.circle-primary{background-color:#5d9cec}.circle-success{background-color:#27c24c}.circle-info{background-color:#23b7e5}.circle-warning{background-color:#ff902b}.circle-danger{background-color:#f05050}.circle-green{background-color:#37bc9b}.circle-pink{background-color:#f532e5}.circle-inverse{background-color:#131e26}.circle-purple{background-color:#7266ba}.circle-sm{width:5px;height:5px}.circle-lg{width:11px;height:11px}.circle-xl{width:18px;height:18px}.circle-outline{background-color:transparent}.circle-outline.circle-primary{border:1px solid #5d9cec}.circle-outline.circle-success{border:1px solid #27c24c}.circle-outline.circle-info{border:1px solid #23b7e5}.circle-outline.circle-warning{border:1px solid #ff902b}.circle-outline.circle-danger{border:1px solid #f05050}
.skin-red .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-red .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
