@(uploadTypes:List[String],user:String,dealer:String)
@mainPageCREManger("AutoSherpaCRM",user,dealer) {

<div class="panel panel-info">
  <div class="panel-heading"><b>Upload Reports</b></div>
  <div class="panel-body">

    <div class="col-md-3">
        <select name="uploadType" id="uploadType" class="form-control m-b">
                              @for(uploadType <- uploadTypes) {
                    <option value="@uploadType">@uploadType</option>
                }
                               </select>
    </div>
           <br>
                              
           <div class="row">
  <div class="col-lg-12">
    
    <br>
    <div class="panel panel-info">
      <div class="panel-heading"><b>Search</b></div>
      <div class="panel-body">
        <div class="table table-responsive">
      <table class="table table-striped table-bordered table-hover" id="uploadlist">
                                    <thead>
                                 <tr> 
                                    <th>File Name</th>
                                    <th>filePath</th>
                                    <th>Uploaded By</th>
                                    <th>Status</th>                                   
                                    <th>Uploaded Date</th>
                                    <th>Number Accepted</th>                                    
                                    <th>Processing Errors</th>
                                    <th>Number Discarded</th>
                                    <th>Error</th>
                                   	<th>isError</th>
                                    <th>Processing Start</th>
                                    <th>Processing End</th>
                                 </tr>
                              </thead>
                                <tbody>
                   </tbody>
           </table>
        </div>
      </div>
    </div>
  </div>
</div>
    
</div>
 </div>

}
<script type="text/javascript">
  $(document).ready(function() {
  	var selectedType = $('#uploadType :selected').text();
  
    var table = $('#uploadlist').dataTable( {
        "processing": false,
        "serverSide": false,
        "scrollY": 300,
        "paging": true,
        "searching":false,
        "ordering":false,
        "ajax": "/uploadList/"+selectedType,

        "columnDefs": [
                       {
                           "render": function ( data, type, row ) {
                                if(row[9] == true)
                               		return '<a href="'+data+'">error link</a>';
                               		else
                                   		return "";
                           },
                           "targets": 8
                       },{
                           "render": function ( data, type, row ) {
                              		return '<a href="'+row[1]+'">'+data+'</a>';
                          },
                          "targets": 0
                          
                           },
                       { "visible": false,  "targets": [ 1,9 ] }
                   ]
        
    } );
    
    $('#uploadType').on('change' ,function(e){
		
		var selectedType = $('#uploadType :selected').text();
		var urlstr = "/uploadList/"+selectedType;
		//table.ajax.url(urlstr).load();
    	tableApi = table.api();
    	tableApi.ajax.url(urlstr).load();
    } );
		
});
    

</script>	
