@(listCity:List[Location],dealerName:String,user:String,allCREHash:Map[Long,String])
@mainPageCREManger("AutoSherpaCRM",user,dealerName) {	



<style>
    td, th {
                
        border: 1px solid black;
        overflow: hidden; 
        text-align:center!important;
    }
</style>
<div class="panel panel-primary"> 
<div class="panel-heading">Call Log</div>
    <div class="panel-body">
        <div class="row">
		<div class="col-md-2">
		<div class="form-group">
                <label>City </label>
               
               <select class="form-control selectpicker" id="city" name="cityName" onchange="ajaxCallToLoadWorkShopByCity();"> 
                <option value='--Select--'>--Select--</option>
                
				@for(city <- listCity){                  	                         
                    <option value="@city.getName()">@city.getName()</option>
                    }
                </select>
</div>
            </div> 
			<div class="col-md-2">
			<div class="form-group">
                <label>WorkShop Location </label>               
                <select  id="workshop" name="workshopId" class="form-control" onchange="ajaxCallToLoadCRESByWorkshop();">                 			    
                

                </select>
			</div>
            </div> 
		
            <div class="col-md-2">
			 <label>Select CRE's </label>
			<div class="form-group">
              <select  id="ddlCreIds" name="ddlCreIds" class="form-control" multiple>
                
                    
                </select> 
               
              
</div>


            </div> 
			  <div class="col-md-3">
			<div class="form-group">
			<br/>
             <button type="button" class="btn btn-info" onclick="ajaxCallForDataMR('assignedInteractionTableMR','/assignedInteractionTableDataMR');">View</button>
</div>
            </div> 
           

        </div>
		
    </div>

</div>
 
  <div>

        <div class="panel panel-primary">
            <div class="panel-heading">   
                Scheduled Call Log Information </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab" id="Tab1" onclick="ajaxCallForDataMR('assignedInteractionTableMR','/assignedInteractionTableDataMR');">Forecast</a> </li>
                    <li><a href="#profile" data-toggle="tab" id="Tab2" onclick="ajaxCallForDataMR('followUpRequiredServerDataMR','/followUpCallLogTableDataMR');">Follow Up Required</a> </li>
                    <li><a href="#messages" data-toggle="tab" id="Tab3" onclick="ajaxCallForDataMR('serviceBookedServerDataMR','/serviceBookedServerDataTableMR');">Service Booked</a> </li>
                    <li><a href="#settings" data-toggle="tab" id="Tab4" onclick="ajaxCallForDataMR('serviceNotRequiredServerDataMR','/serviceNotRequiredServerDataTableMR');" >Service Not Required</a> </li>
                    <li><a href="#nonContacts" data-toggle="tab" id="Tab5" onclick="ajaxCallForDataMR('nonContactsServerDataMR','/nonContactsServerDataTableMR');">Non Contacts</a> </li>
                    <li><a href="#droppedBuc" data-toggle="tab" id="Tab6" onclick="ajaxCallForDataMR('droppedCallsServerDataMR','/droppedCallsServerDataTableMR');">Dropped</a> </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                <div >
                                    <table class="table table-striped table-bordered table-hover" id="assignedInteractionTableMR" width="100%">
                                        <thead>
                                            <tr> 

                                             <th>Customer Name</th>
                                                <th>RegNo.</th>
                                                <th>Model</th> 
                                                <th>Category</th>
                                                <th>Loyalty</th>
                                                <th>DueDate</th>
                                                <th>Type</th>
                                                <th>Forecast </th>
                                                <th>PSFStatus</th>
                                                <th>DND</th>
                                                <th>Complaint</th>
                                                <th>CRE Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>								
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <div class="panel-body inf-content">
                            <div class="dataTable_wrapper">                            
                                <div >
                                    <table class="table table-striped table-bordered table-hover" id="followUpRequiredServerDataMR" width="100%">
                                        <thead>
                                         <tr> 
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>                                                                   
                                                <th>Vehicle RegNo.</th>
                                                <th>Service Due</th>
                                                <th>CRE Name</th>
                                                <th>FollowUp Date</th>                                    
                                                <th>FollowUp Time</th>
                                                <th>Last Disposition</th>
                                                <th>Download Media</th>
                                            </tr>   
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="messages">
                        <div class="panel-body inf-content">
                            <div class="dataTable_wrapper">                            
                                <div >
                                    <table class="table table-striped table-bordered table-hover" id="serviceBookedServerDataMR" width="100%">
                                        <thead>
                                            <tr> 
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                                <th>Service Due</th>
                                                <th>CRE Name</th>
                                                <th>Service ScheduledDate</th>  
                                                <th>Service ScheduledTime</th>  
                                                <th>Last Disposition</th>
                                                <th>Download Media</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="settings">
                         <div class="panel-body inf-content">
                        <div class="dataTable_wrapper">                            
                            <div >
                                <table class="table table-striped table-bordered table-hover" id="serviceNotRequiredServerDataMR" width="100%">
                                    <thead>
                                        <tr>              	
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>
                                            <th>Service Due</th>
                                            <th>CRE Name</th>
                                            <th>Last Disposition</th>
                                            <th>Reason</th>
                                            <th>Download Media</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div><!--End tab panel-->
                    <div class="tab-pane fade " id="nonContacts">
                        <div class="panel-body inf-content"> 
                            <div >
                                <table class="table table-striped table-bordered table-hover" id="nonContactsServerDataMR" width="100%">
                                    <thead>
                                        <tr>                          
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>
                                            <th>Service Due</th>
                                            <th>CRE Name</th>
                                            <th>Last Disposition</th>          
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="droppedBuc">
                        <div class="panel-body inf-content">
                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                                    <table class="table table-striped table-bordered table-hover" id="droppedCallsServerDataMR" width="100%">
                                        <thead>
                                            <tr> 
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                                <th>Service Due</th>
                                                <th>CRE Name</th>
                                                <th>Last Disposition</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End tab content-->
            </div><!--End panel body-->
        </div>
   
</div>
} 
 

<script type="text/javascript">    
 function ajaxCallForDataMR(dtTableId,ajaxUrl){
    // alert("server side data load");
    var UserIds="",i;
    myOption = document.getElementById('ddlCreIds');
    
for (i=0;i<myOption.options.length;i++){
    if(myOption.options[i].selected){
        if(myOption.options[i].value != "--Select--"){
    		UserIds = UserIds + myOption.options[i].value + ",";
        }
    }
}
	if(UserIds.length > 0){
    	UserIds = UserIds.substring(0, UserIds.length - 1);
	}
	else{
		UserIds="Select";
	}
    var ajaxUrl = ajaxUrl+ "/"+UserIds
    $('#'+dtTableId).dataTable({
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching":true,
        "ordering":false,			
        "ajax": ajaxUrl
    });
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
      $($.fn.dataTable.tables(true)).DataTable()
         .columns.adjust();
   });
 }
</script>

 <script type="text/javascript">
	window.onload = ajaxCallForDataMR('assignedInteractionTableMR','/assignedInteractionTableDataMR');
</script>
    