@(dealerName:String,userName:String,callList: List[models.InsuranceCallInfo])
@import helper._
@import scala._
@mainPageCREManger("WyzConnectADCC",userName,dealerName) {
 
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading"> Insurance CallLog </div>
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <div style="overflow-x: auto">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example38">
              <thead>
                <tr>
                  <th>Call Time</th>
                  <th>Agent Name</th>
                  <th>Customer Name</th>
                  <th>Customer Phone</th>
                  <th>VIN Number</th>
                  <th>Sale Date</th>
                  <th>Model</th>                  
                  <th>Call Duration(in sec)</th>
                  <th>Direction</th>
                  <th>Status</th>
                  <th class="no-sort">Recording</th>
                  <th class="no-sort">Map</th>
                  <th class="no-sort">Details</th>
                </tr>
              </thead>
              <tbody>
              
              @for(callinfo <- callList) {
              <tr>
                <td>@callinfo.callMadeDateAndTime</td>
                <td>@callinfo.agentName</td>
                <td>@callinfo.customerName</td>
                <td>@callinfo.customerPhone</td>
                <td>@callinfo.vehicleNumber</td>
                <td>@callinfo.saleDate</td>
                <td>@callinfo.model</td>
                <td>@callinfo.callDuration</td>
                <td>@callinfo.callType</td>
                <td> @{if(callinfo.status==("Not Interested"))
                  { <span class="label label-warning">Not Interested</span> 
                  	
                  } else if(callinfo.status==("Appointment Fixed"))
                  { 
                  <span class="label label-success">Appointment Fixed</span> 
                  	
                  } else if(callinfo.status==("FollowUp Required"))
                  { 
                  <span class="label label-primary">FollowUp Required</span>
                  } else if(callinfo.status==("Renewal Done-Others"))
                  { 
                  <span class="label label-primary">Renewal Done-Others</span>
                  } else if(callinfo.status==("Renewal Done-Samta"))
                  { 
                  <span class="label label-primary">Renewal Done-Samta</span>
                  } else if(callinfo.status==("Ringing No Response"))
                  { 
                    <span class="label label-warning">Ringing No Response</span>
                    
                  } else if(callinfo.status==("Callback Later"))
                  { 
                  	<span class="label label-primary">Callback Later</span>
                
                  }else if(callinfo.status==("Wrong Number"))
                  { 
                  <span class="label label-danger">Wrong Number</span>
                  } else if(callinfo.status==("Busy"))
                  { 
                  <span class="label label-warning">Busy</span>
                  } else if(callinfo.status==("Not Reachable"))
                  { 
                  <span class="label label-warning">Not Reachable</span>
                  } else if(callinfo.status==("Switched off"))
                  { 
                  <span class="label label-warning">Switched off</span>
                  } else if(callinfo.status==("Sold Car"))
                  { 
                  <span class="label label-success">Sold Car</span>
                  } 
                  else if(callinfo.callType==("MISSED"))
                  {
                  	<span class="label label-danger">Missed Call</span>
                  
					}
                  
                
                  } </td>
               <td>@{if(callinfo.callType!=("MISSED")){ 
                	                	
                	<a href={"/CREManager/downloadInsuranceAudio/"+callinfo.id}><i class="fa fa-play" data-toggle="tooltip" title="audio"></i></a>
                	
                	}
                	}</td>              
                <td><a href="#"  onclick="loadMap('@callinfo.latitude','@callinfo.longitude')" id="btnShow"><i class="fa fa-map-marker" data-toggle="tooltip" title="Map"></i></a></td>
                 <td><a href="/CREManager/getMoreInfoInsurance/@callinfo.id" >More info <i class="fa fa-arrow-circle-right"></i></a></td>
              </tr>
              }
                </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="dialog" style="display: none">
  <div id="dvMap" style="height: 350px; width: 650px;"> </div>
</div>
}