@(toActivateTab1:String,toActivateTab2:String,toActivateTab3:String,toActivateTab4:String,toActivateTab5:String,dealercode:String,dealerName:String,userName:String)
@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode) {

<input type="hidden" id="user" value="@userName">

<input type="hidden" id="toActivateTab1" value="@toActivateTab1">
<input type="hidden" id="toActivateTab2" value="@toActivateTab2">
<input type="hidden" id="toActivateTab3" value="@toActivateTab3">
<input type="hidden" id="toActivateTab4" value="@toActivateTab4">
<input type="hidden" id="toActivateTab5" value="@toActivateTab5">

<style>
    td, th {
                
        border: 1px solid black;
        overflow: hidden; 
        text-align:center!important;
    }
</style>

<div class="row" >

        <div class="col-sm-3"> 
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3><div id="schCRECount"><i class="fa fa-spinner fa-pulse fa-fw"></i></div></h3>
              <p>Scheduled Calls</p>
            </div>
            <div class="icon"> <i class="ion-android-call"></i> </div>
             
            <!--<span class="pull-left" data-toggle="modal" data-target=".myModal1">View Details</span>--> 
          </div>
        </div>      <!-- ./col -->
        <div class="col-sm-3"> 
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3><div id="serviceCREBookd"><i class="fa fa-spinner fa-pulse fa-fw"></i></div></h3>
              <p>Service Booked</p>
            </div>
            <div class="icon"> <i class="ion-android-checkbox-outline"></i> </div>
            </div>
        </div>        <!-- ./col -->
        <div class="col-sm-3"> 
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3><div id="serviceBookdCREPer"><i class="fa fa-spinner fa-pulse fa-fw"></i></div></h3>
              <p>% Conversion Rate</p>
            </div>
            <div class="icon"> <i class="ion-person-add"></i> </div>
             </div>
        </div>        <!-- ./col -->
        <div class="col-sm-3"> 
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3><div id="schCREPending"><i class="fa fa-spinner fa-pulse fa-fw"></i></div></h3>
              <p>Pending calls</p>
            </div>
            <div class="icon"> <i class="ion-android-download"></i> </div>
             </div>
        </div>        <!-- ./col --> 
    




    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">   
                Call Log Information </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li><a href="#home" data-toggle="tab" id="Tab1" onclick="assignedInteractionData();">Forecast</a> </li>
                    <li><a href="#profile" data-toggle="tab" id="Tab2" onclick="ajaxCallForFollowUpRequiredServer();">Follow Up Required</a> </li>
                    <li><a href="#messages" data-toggle="tab" id="Tab3" onclick="ajaxCallForServiceBookedServer();">Service Booked</a> </li>
                    <li><a href="#settings" data-toggle="tab" id="Tab4" onclick="ajaxCallForServiceNotRequiredServer();" >Service Not Required</a> </li>
                    <li><a href="#nonContacts" data-toggle="tab" id="Tab5" onclick="ajaxCallForNonContactsServer();">Non Contacts</a> </li>
                    <li><a href="#droppedBuc" data-toggle="tab" id="Tab6" onclick="ajaxCallForDroppedCallsServer();">Dropped</a> </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade @toActivateTab1" id="home">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                                    <table class="table table-striped table-bordered table-hover" id="assignedInteractionTable" width="100%">
                                        <thead>
                                            <tr> 
											<th>Campaign</th>	
                                             <th>Customer Name</th>
                                                <th>RegNo.</th>
                                                <th>Model</th> 
                                                <th>Category</th>
                                                <th>Loyalty</th>
                                                <th>DueDate</th>
                                                <th>Type</th>
                                                <th>Forecast </th>
                                                <th>PSFStatus</th>
                                                <th>DND</th>
                                                <th>Complaint</th>
						<th class="no-sort"></th>





                                            </tr>
                                        </thead>
                                        <tbody>								




                                        </tbody>

                                    </table>




                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade @toActivateTab2" id="profile">
                        <div class="panel-body inf-content">

                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                                    <table class="table table-striped table-bordered table-hover" id="followUpRequiredServerData" width="100%">
                                        <thead>
                                         <tr> 
                                                 
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>                                                                   
                                                <th>Vehicle RegNo.</th>
                                                <th>Service Due</th>
                                                <th>FollowUp Date</th>                                    
                                                <th>FollowUp Time</th>
                                                <th>Last Disposition</th>
                                                <th class="no-sort"></th>



                                            </tr>   
                                        </thead>
                                        <tbody>

                                        </tbody>

                                    </table>




                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade @toActivateTab3" id="messages">
                        <div class="panel-body inf-content">


                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                                    <table class="table table-striped table-bordered table-hover" id="serviceBookedServerData" width="100%">
                                        <thead>
                                            <tr> 

                                                                            	
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                                <th>Service Due</th>
                                                <th>Service ScheduledDate</th>  
                                                <th>Service ScheduledTime</th>  
                                                <th>Last Disposition</th>
                                                <th class="no-sort"></th>



                                            </tr>
                                        </thead>
                                        <tbody>




                                        </tbody>

                                    </table>




                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade @toActivateTab4" id="settings">
                         <div class="panel-body inf-content">

                        <div class="dataTable_wrapper">                            
                            <div style="overflow-x: auto">
                                <table class="table table-striped table-bordered table-hover" id="serviceNotRequiredServerData" width="100%">
                                    <thead>
                                        <tr> 
                                                                       	
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>
                                            <th>Service Due</th>
                                            <th>Last Disposition</th>
                                            <th>Reason</th>
                                            <th class="no-sort"></th>



                                        </tr>
                                    </thead>
                                    <tbody>




                                    </tbody>

                                </table>




                            </div>

                        </div>
                    </div>

                    </div><!--End tab panel-->
                    <div class="tab-pane fade @toActivateTab5" id="nonContacts">
                        
                        <div class="panel-body inf-content"> 
                           
                            <div style="overflow-x: auto">
                                <table class="table table-striped table-bordered table-hover" id="nonContactsServerData" width="100%">
                                    <thead>
                                        <tr> 
                                           
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>
                                            <th>Service Due</th>
                                            <th>Last Disposition</th>
                                            <th class="no-sort"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>


                    <div class="tab-pane fade" id="droppedBuc">
                        <div class="panel-body inf-content">


                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                                    <table class="table table-striped table-bordered table-hover" id="droppedCallsServerData" width="100%">
                                        <thead>
                                            <tr> 

                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                                <th>Service Due</th>
                                                <th>Last Disposition</th>





                                            </tr>
                                        </thead>
                                        <tbody>



                                        </tbody>

                                    </table>




                                </div>

                            </div>

                        </div>
                    </div>




                </div><!--End tab content-->
            </div><!--End panel body-->
        </div>
    </div>
</div>

}
<script type="text/javascript">
    window.onload = ajaxRequestDataOFCREIndexPageWithTab;
</script>
<script>

    function getvalMain(sel) {
        var selVal = sel.value;
        var selValuess = 'Already Serviced';

        if (selVal == selValuess) {
            $('.show1').css('display', 'block');
        } else {
            $('.show1').css('display', 'none');

        }
    }

    function getval(sel) {
        var onSelVal = sel.value;
        var selValuesTab2 = 'Serviced At Other Dealer';

        if (onSelVal == selValuesTab2) {
            $('.show2').css('display', 'block');
        } else {
            $('.show2').css('display', 'none');

        }
    }

</script>

<script type="text/javascript">
      
 function assignedInteractionData(){
    // alert("server side data load");
     
    $('#assignedInteractionTable').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching":true,
        "ordering":false,			
        "ajax": "/assignedInteractionTableData"
    } );
    
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
      $($.fn.dataTable.tables(true)).DataTable()
         .columns.adjust();
   });
    
    }
    
    
    function ajaxCallForFollowUpRequiredServer(){
              
        //alert("follow up server side data");
         $('#followUpRequiredServerData').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching": true,
        "ordering":false,	
        "ajax": "/followUpCallLogTableData"
    } );
        
    }
    
    
    
    function ajaxCallForServiceBookedServer(){
        
      $('#serviceBookedServerData').dataTable( {
        "bDestroy": true,  
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching": true,
        "ordering":false,		
        "ajax": "/serviceBookedServerDataTable"
    } );  
        
    }
    
    function ajaxCallForServiceNotRequiredServer(){
        
    $('#serviceNotRequiredServerData').dataTable( {
        
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching": true,
        "ordering":false,		
        "ajax": "/serviceNotRequiredServerDataTable"
    } );    
        
        
    }
    
    
    function ajaxCallForNonContactsServer(){
      
         $('#nonContactsServerData').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching": true,
        "ordering":false,				
        "ajax": "/nonContactsServerDataTable"
    } );
        
        
        
    }
    
    
    function ajaxCallForDroppedCallsServer(){
        
       $('#droppedCallsServerData').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching": true,
        "ordering":false,        
        "ajax": "/droppedCallsServerDataTable"
    } ); 
        
    }
    
</script>
<script>
	 
	var urlDisposition = "/CRE/dashboardCounts";
    $.ajax({
        url: urlDisposition

    }).done(function (dashboardCount) {

        //console.log(dashboardCount);

  	  var dashCount = dashboardCount;
  		 $("#schCRECount").html(dashCount[0]);
  		 $("#serviceCREBookd").html(dashCount[1]);
  	     $("#serviceBookdCREPer").html(dashCount[2]);
  	     $("#schCREPending").html(dashCount[3]);
        
    });



</script>