@(dealerName:String,userName:String,alldealer:List[models.Dealer])

@main("AutoSherpaCRM",userName,dealerName) {
	
	<script type="text/javascript">
 	$(document).ready(function(){
    	$("#myModal").modal('show');
		
	});
 </script>

 
  <div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Select Dealer</h4>
        </div>
        <div class="modal-body">
          <div class="panel-body">
            <form >
	
	<div class='form-group' id="dealerCode">
              
                <label >Delear Name:</label>
                <select  id="dealerCode" name="dealerCode" class="form-control">
                 <option value="NONE" label="--- Select ---"/>  
                       	@for(data <- alldealer){                             
                          <option value="@data.dealerCode">@data.dealerName</option>
                      	}
                </select>
              </div>
              <div class='text-right'>
              <button type="submit" onclick="myFunction()" class="btn btn-primary pull-right" enabled>Submit</button>
                
              </div>
              </form>
          </div>
        </div>
        <div class="modal-footer"> 
        </div>
      </div>
    </div>
  </div>

}
