	 @(workshopList:List[Workshop],customerData:Customer,vehicleData:Vehicle,locationList:List[Location],interOfCall:CallInteraction,servicetypeList:List[ServiceTypes],userData:WyzUser,latestService:Service)
		  <div style="display:none;" class="animated  bounceInRight" id="serviceBookDiv">
		  
	  
<!-- BOOK MY SERVICE -->		
	  <div class="col-md-12">
			  <div class="row">
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Select Vehicle</label>
					<select class="form-control" id="vehicle" name="vehicleId_SB">
					  
						@for(post <- customerData.getVehicles()){
                              
                              <option value="@post.vehicle_id">@post.vehicleRegNo</option>
                              
									}
					  
					  
					  
						
					</select>
				  </div>
				  </div>
				  <div class="col-md-3">
				  <div class="form-group">
					<label for="">Select City</label>
					<select class="form-control" id="city" name="cityName" onchange="ajaxCallToLoadWorkShopByCity();">					  
							
                              
                              <option value="@{userData.getLocation().getName()}">@{userData.getLocation().getName()}</option>
                              
									
					</select>
				  </div>
				</div>
				
					<div class="col-md-3">
				  <label for="">Renewal Type</label>
				  <select class="form-control"  name="serviceBookedType11" onchange="">
						<option value="0"></option>
						<option value="1">1st Renewal</option>
						<option value="2">2nd Renewal</option>
						<option value="3">3rd Renewal</option>
						<option value="4">4th Renewal</option>
						<option value="5">5th Renewal</option>
						<option value="6">6th Renewal</option>
						<option value="7">7th Renewal</option>
						
						
						

				 </select>
				</div>
				<div class="col-md-3">
				  <label for="">Renewal Mode</label>
				  <select class="form-control" id="" name="">
					<option value='0'>--Select--</option>
					<option value='PI'>PI</option>
					<option value='NPI'>NPI</option>
					
					
				
				  </select>
				</div>
				
				
				</div>
				 </div>
			  
			
		   <div class="col-md-12">
			  <div class="row">
			  <div class="col-md-3">
			  
			  
				  <div class="form-group">
					<label class="control-label" for="inputGroup">Appointment Date<i class="lblStar">*</i></label>
					<div class="input-group">
					<input type="text" name="serviceScheduledDate" class="form-control" id="date12345" onchange="ajaxAutoSASelectionList('workshop','date12345','serviceAdvisor');" value="@{if(interOfCall.getServiceBooked()!=null){interOfCall.getServiceBooked().getServiceScheduledDateStrSqlFor()}}" readonly>					 
					  <span class="input-group-addon" data-toggle="modal" data-target="#sa_modal" onclick="ajaxCallToLoadWorkshopSummary();"> <i style="font-size:19px; color:red;" class="fa">&#xf274;</i> </span>
					  </div>
				  </div>
				</div>
				<div class="col-md-3">
				<div class="form-group">
				  <label for="serviceScheduledTime">Appointment Time<i class="lblStar">*</i></label>
				  <input type="text" name="serviceScheduledTime" class="single-input form-control timePickers" id="CommittedTimes" value="@{if(interOfCall.getServiceBooked()!=null){interOfCall.getServiceBooked().getServiceScheduledTimeStrSqlFor()}}" readonly>
				</div>
		 </div>
		 <div class="col-md-3">
				  <div class="form-group">
				  <label>&nbsp;</label><br/>
					<button type="button" class="btn btn-primary btn-block" onClick="return ajaxAutoSASelection('workshop','date12345','serviceAdvisor')">Recommend SA</button>
					  
				  </div>
				</div>
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Assigned Insurance Agent</label>
			
					<select class="form-control">
						<option value="0"></option>
						<option value="1">Ravi</option>
						<option value="2">Devid</option>
						
						
					</select>
					
					</select>
				  </div>
				</div>
				<!--
				<div class="col-md-3">
				  <div class="form-group">
					<button type="button" class="btn btn-primary" onClick="return ajaxAutoSASelectionList('workshop','date12345','serviceAdvisor');">Change SA</button>
				  </div>
				</div>	
				-->
				
			  </div>
			
			
			<div class="pull-right">
			<button type="button" class="btn btn-primary" id="backtoMain">Back</button>
			<button type="button" class="btn btn-primary" id="nextToCustomerDrive">Next</button>
			</div>
			</div>
			</div>
			<div style="display:none;" class="animated  bounceInRight" id="CustomerDriveInDiv">
			<div class="col-md-12">
			<label>Choose one of the below option:</label>
		<br /> 
		
		  <label>
			<input type="radio" name="typeOfPickup" value="true" id="PickupDropRequired" >
			Home Visit</label>
		
		
	  
		  <label>
			<input type="radio" name="typeOfPickup" value="Maruthi Mobile Support" id="MaruthiMobileSupport" >
			Showroom Visit</label>
		<div class="animated  bounceInRight" id="MSSSelectDiv" style="display:none;">
				
								  
				  </div>
				  <div style="display:none;" id="pickupDiv">
		  <div class="animated  bounceInRight">
			<div class="col-md-3">
			  <div class="form-group">
				<label for="pickUpAddress"><b>Confirm Address</b></label>
				<select class="form-control" name="pickUpAddress" id="pickUpAddPOPUP1" >
				  @for(addre_list <- customerData.getAddresses()){
                          <option value="@addre_list.getAddressLine1(),@addre_list.getAddressLine2(),@addre_list.getAddressLine3(),@addre_list.getCity(),@addre_list.getPincode()">@addre_list.getAddressLine1(),@addre_list.getAddressLine2(),@addre_list.getAddressLine3(),@addre_list.getCity(),@addre_list.getPincode()</option>
                         
						  }
				</select>
			  </div>
			</div>
		<!-- 
			<div class="col-md-3">
			  <div class="form-group">
				<label for="comments"><b>Select Driver<b></label>
				<div class="input-group">
				  <select class="form-control" name="driverId"  id="driverIdSelect">
					<option value="0">--Select--</option>
                            
				  </select>
				  <span class="input-group-addon" data-toggle="modal" data-target="#sa_modal1"> <i style="font-size:19px; color:Red;" class="fa">&#xf274;</i> </span> </div>
			  </div>
			</div>
			
			 
			    <label for=""><b>Select Driver's Pick Up Schedule<b></label> 
			   
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="time_From">From</label>
					  <input type="text" name="time_From" class="single-input form-control" id="time_FromDriver" readonly>
					</div>
				  </div>
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="time_To">To:</label>
					  <input type="text" name="time_To" class="single-input form-control" id="time_ToDriver" readonly>
					</div>
				  </div>
				
			  -->
			  
			  <div class="col-md-3">
					<div class="form-group">
					  <label for="time_From">Appointment From</label>
					  <input type="text" name="time_From" class="single-input form-control" id="time_FromDriver" readonly>
					</div>
				  </div>
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="time_To">Appointment To:</label>
					  <input type="text" name="time_To" class="single-input form-control" id="time_ToDriver" readonly>
					</div>
				  </div>
			   
		  </div>
		  
		 
			<div class="col-md-12 animated  bounceInLeft">
			
				<div class="form-group">
				   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddNewAddressPopup">Add New Address</button>
				
				</div>
			  
			</div>
		 
		  
	 
		
	  </div>
	  <div class="pull-right">
	  <button type="button" class="btn btn-primary" id="BackToCunstomerDrive">Back</button>
	   <button type="button" class="btn btn-primary" id="NextToLead">Next</button>
	  </div>
	</div>
		  </div>
		   <div class="col-md-12 animated  bounceInRight" style="display:none;" id="finalDiv1">
			<label>Capture Lead : Is there an Upsell Opportunity.</label>
		   <br>
		   
			<div class="radio-inline">
			  <label>
				<input type="radio" name="LeadYes" onclick="loadLeadBasedOnLocation();" value="Capture Lead Yes" id="LeadYesID" >
				Yes</label>
			</div>
			<div class="radio-inline">
			  <label>
				<input type="radio" name="LeadYes" value="Capture Lead No" id="LeadNoID" >
				No</label>
			</div>
			<div class="row animated  bounceInRight" style="display:none;" id="LeadDiv">
			 <div class="col-md-12">
			  <div class="col-md-6">
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[0].upSellType" value="Insurance" id="InsuranceIDCheck">
					Periodic Maintenance Service</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="InsuranceSelect">
				 
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[0].taggedTo" id="insuranceLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments1" name="upsellLead[0].upsellComments"></textarea>
					</div>
				 
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[1].upSellType" value="Warranty / EW" id="WARRANTYID" >
					Warranty / EW</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="WARRANTYSelect">
					
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[1].taggedTo" id="warrantyLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments2" name="upsellLead[1].upsellComments"></textarea>
					</div>
				 
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="VAS myOutCheckbox" name="upsellLead[2].upSellType" value="VAS" id="VASID" />
					VAS</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="VASTagToSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[2].taggedTo" id="vASLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments3" name="upsellLead[2].upsellComments"></textarea>
					</div>
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[3].upSellType" value="Re-Finance / New Car Finance" id="ReFinanceIDCheck" />
					Re-Finance / New Car Finance</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="ReFinanceSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[3].taggedTo" id="reFinanceLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments4" name="upsellLead[3].upsellComments"></textarea>
					</div>
				 </div>
				</div>
				<div class="col-md-6">
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="Loan myOutCheckbox" name="upsellLead[4].upSellType" value="Sell Old Car" id="LoanID" />
					Sell Old Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="LoanSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[4].taggedTo" id="sellOldCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments5" name="upsellLead[4].upsellComments"></textarea>
					</div>
				  </div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="EXCHANGE myOutCheckbox" name="upsellLead[5].upSellType" value="Buy New Car / Exchange" id="EXCHANGEID" />
					Buy New Car / Exchange</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="EXCHANGEIDSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[5].taggedTo" id="buyNewCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments6" name="upsellLead[5].upsellComments"></textarea>
					</div>
				 	</div>
				  <div class="checkbox">
				  <label>
					<input type="checkbox" class="UsedCar myOutCheckbox" name="upsellLead[6].upSellType" value="UsedCar" id="UsedCarID" />
					Used Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="UsedCarSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[6].taggedTo" id="usedCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments7" name="upsellLead[6].upsellComments"></textarea>
					</div>
				 
				</div>
		   
			  </div>
			</div>
			 
			</div>
			  <div class="pull-right" >
			<button type="button" class="btn btn-primary" id="BackToLead">Back</button>
			  <button type="button" class="btn btn-primary" value="" id="NextToCustFeedBack"/>Next</button>
			</div>
			</div>
		   </div>
				
			<div class="row animated  bounceInRight" id="CustFeedBack" style="display:none;">
				  <div class="col-md-12">
				  
					<label>Does Customer has a feedback / compliant ?</label>
					<br>
					<div class="radio-inline">
					  <label for="feedbackYes">
						<input type="radio" name="userfeedback" onclick="loadLeadBasedOnLocationDepartment();" value="feedback Yes" id="feedbackYes" >
						Yes</label>
					</div>
					<div class="radio-inline">
					  <label for="feedbackNo">
						<input type="radio" name="userfeedback" value="feedback No" id="feedbackNo" >
						No</label> 
					</div>
				
			   
				<div class="row animated  bounceInRight" style="display:none;" id="feedbackDIV"><br>
				 <div class="col-md-12">
				  <div class="col-md-3">
					<label for="">Select Department<i class="lblStar">*</i></label>
					<select class="form-control selected_department" onchange="ajaxLeadTagByDepartment();" id="selected_department1" name="departmentForFB">
					 
					</select>
				  </div>
				  <div class="col-md-3">
					<label for="">Tag to</label>
					<select class="form-control" name="complaintOrFB_TagTo" id="LeadTagsByLocation1" name="complaintOrFB_TagTo">
					
					@{if(interOfCall.getSrdisposition()!=null){
					
					<option value={interOfCall.getSrdisposition().getComplaintOrFB_TagTo()} selected="selected">{interOfCall.getSrdisposition().getComplaintOrFB_TagTo()}</option>
					
					}}	  
					</select>
				  </div>
				
				  <div class="col-md-3">
					<label for="comments">Feedback/Comment</label>
					<textarea class="form-control" rows="1" id="commentsOfFB" name="remarksOfFB"></textarea>
				  </div>
				  <br>
				</div>
				  </div>
				  <div class="pull-right" >
			<button type="button" class="btn btn-primary" id="BackToUpsell">Back</button>
			  <button type="button" class="btn btn-primary" value="" id="NextToLastQuestion"/>Next</button>
			</div>
		  </div>
		  </div>

<div class="row animated  bounceInRight" id="LastQuestion" style="display:none;">
				  <div class="col-md-12">
				  <div class="col-md-12">
					<label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
					<br>
					<div class="radio-inline">
					  <label for="feedbackYes">
						<input type="radio" name="CustomerFeedBackYes" value="Customer Yes" id="CustomerYes" >
						Yes</label>
					</div>
					<div class="radio-inline">
					  <label for="feedbackNo">
						<input type="radio" name="CustomerFeedBackYes" value="Customer No" id="CustomerNo" >
						No</label> 
					</div>
				  </div>
				  </div>
				  <div class="pull-right" >
			<button type="button" class="btn btn-primary" id="BackToCustomerFeedback">Back</button>
			  <button type="submit" class="btn btn-primary" value="bookMyservice" name="typeOfsubmit" id="bookMyserviceSubmit"/>Submit</button>
			</div>
				  </div>
				  
				  <!-- Service Not Required -->
				   <div class="row animated  bounceInRight" style="display:none;" id="alreadyserviceDIV" > 
				<!--No Service Required-->
				<div class="col-md-12" >
					<div class="col-md-12">
					  <div class="form-group">
					 
						<div class="checkbox AlreadyServiced">
						  <label>
							<input type="checkbox" class="NoService" name="noServiceReason" value="Already Serviced" id="AlreadyServiced" >
							Already Renewed</label>
						</div>
						<div class="animated  bounceInRight alreadyservicedDiv1" style="display:none;" id="alreadyservicedDiv1">
						  <div class="col-md-12">
							<div class="radio ServicedMyDealer">
							  <label>
								<input type="radio" name="reasonForHTML" onclick="workshopNameList();" value="Serviced At My Dealer" id="ServicedMyDealer" >
								Renewed At My Dealer</label>
							</div>
							<div class="row animated  bounceInRight" style="display:none;" id="ServicedMyDealerDiv">
							  <div class="col-md-12">
								<div class="col-md-3">
								  <label for=""><b>Last Renewal Date<b></label>
								 <input type="text" name="lastServiceDate" value="@{vehicleData.getLastServiceDate()}" class="datepickerPrevious form-control"/>
								</div>
								<div class="col-md-3">
								  <label for=""><b>Last Renewed Location<b></label>
									<select class="form-control" id="lastServiceWorkshopList">
								  
								 	<option value=0>--Select--</option>				  
								 
								 	
								  </select>
								  
								</div>
								 <div class="col-md-2">
								  <label for=""><b>Insurance Provided By<b></label>
								  <select class="form-control">
											<option value="0">--Select--</option>
											<option value="Agriculture Insurance Company of India">Agriculture Insurance Company of India</option>
											<option value="Apollo Munich Insurance">Apollo Munich Insurance</option>
											<option value="Bajaj Allianz General Insurance">Bajaj Allianz General Insurance</option>
											<option value="Bharti AXA General Insurance">Bharti AXA General Insurance</option>
											<option value="Cholamandalam MS General Insurance">Cholamandalam MS General Insurance</option>
											<option value="Cigna TTK Health Insurance Company Ltd - Cigna TTK">Cigna TTK Health Insurance Company Ltd - Cigna TTK</option>
											<option value="ECGC (Export Credit Guarantee Corporation of India)">ECGC (Export Credit Guarantee Corporation of India)</option>
											<option value="Future Generali India Insurance Company Ltd">Future Generali India Insurance Company Ltd</option>
											<option value="HDFC ERGO General Insurance">HDFC ERGO General Insurance</option>
											<option value="ICICI Lombard General Insurance Company Limited">ICICI Lombard General Insurance Company Limited</option>
											<option value="IFFCO Tokio General Insurance Company Limited">IFFCO Tokio General Insurance Company Limited</option>
											<option value="L&T General Insurance">L&T General Insurance</option>
											<option value="Liberty Videocon General Insurance">Liberty Videocon General Insurance</option>
											<option value="Magma HDI General Insurance">Magma HDI General Insurance</option>
											<option value="Max Bupa General Insurance">Max Bupa General Insurance</option>
											<option value="National Insurance Company Limited">National Insurance Company Limited</option>
											<option value="New India Assurance">New India Assurance</option>
											<option value="Oriental Insurance Company">Oriental Insurance Company</option>
											<option value="Raheja QBE General Insurance Company Ltd - Raheja QBE">Raheja QBE General Insurance Company Ltd - Raheja QBE</option>
											<option value="Reliance General Insurance">Reliance General Insurance</option>
											<option value="Religare Health Insurance">Religare Health Insurance</option>
											<option value="Royal Sundaram General Insurance Co. Limited">Royal Sundaram General Insurance Co. Limited</option>
											<option value="SBI General Insurance Company Ltd">SBI General Insurance Company Ltd</option>
											<option value="Shriram General Insurance Company Ltd">Shriram General Insurance Company Ltd</option>
											<option value="Star Health and Allied Insurance">Star Health and Allied Insurance</option>
											<option value="Tata AIG General Insurance">Tata AIG General Insurance</option>
											<option value="United India Insurance">United India Insurance</option>
											<option value="Universal Sompo General Insurance">Universal Sompo General Insurance</option>
											<option value="Others">Others</option>
											
										</select>
								</div>
								 <div class="col-md-2">
								  <label for=""><b>Premium (Rs.)<b></label>
								  <input type="text" name="Premium" value="" class="form-control"/>
								</div>
								 <div class="col-md-2">
								  <label for=""><b>Cover Note (No.)<b></label>
								  <input type="text" name="Cover Note" value="" class="form-control"/>
								</div>
							  </div>
							</div>
							<div class="radio ServicedOtherDealer">
							  <label>
								<input type="radio" name="reasonForHTML" value="Serviced At Other Dealer" id="ServicedOtherDealer" >
								Renewed At Other Dealer</label>
							</div>
							<div class="row animated  bounceInRight" style="display:none;" id="ServicedAtOtherDealerDiv" >
							  <div class="col-md-12">
								
								 <div class="col-md-12">
									<div class="radio">
									  <label>
										<input type="radio" name="ServicedAtOtherDealerRadio" value="Autorized workshop" id="Autorizedworkshopid" >
										OEM Authorized Dealer</label>
									</div>
								  </div>
							   
								<div class="animated  bounceInRight" style="display:none;" id="AutorizedworkshopDIV">
								  <div class="col-md-12">
								   
									  <div class="col-md-3">
										<label for="dealerName"><b>Dealer Name<b></label>
										<input type="text" name="dealerName" class="form-control textOnlyAccepted" />
									  </div>
								  
									  <div class="col-md-3">
										<label for="dateOfService"><b>Date of Renewal<b></label>
										<input type="text" name="dateOfService" class="datepickerPrevious form-control" />
									  </div>
								 
									  <div class="col-md-3">
										<label for="mileageAtService"><b>Insurance Provider<b></label>
										<select class="form-control">
											<option value="0">--Select--</option>
											<option value="Agriculture Insurance Company of India">Agriculture Insurance Company of India</option>
											<option value="Apollo Munich Insurance">Apollo Munich Insurance</option>
											<option value="Bajaj Allianz General Insurance">Bajaj Allianz General Insurance</option>
											<option value="Bharti AXA General Insurance">Bharti AXA General Insurance</option>
											<option value="Cholamandalam MS General Insurance">Cholamandalam MS General Insurance</option>
											<option value="Cigna TTK Health Insurance Company Ltd - Cigna TTK">Cigna TTK Health Insurance Company Ltd - Cigna TTK</option>
											<option value="ECGC (Export Credit Guarantee Corporation of India)">ECGC (Export Credit Guarantee Corporation of India)</option>
											<option value="Future Generali India Insurance Company Ltd">Future Generali India Insurance Company Ltd</option>
											<option value="HDFC ERGO General Insurance">HDFC ERGO General Insurance</option>
											<option value="ICICI Lombard General Insurance Company Limited">ICICI Lombard General Insurance Company Limited</option>
											<option value="IFFCO Tokio General Insurance Company Limited">IFFCO Tokio General Insurance Company Limited</option>
											<option value="L&T General Insurance">L&T General Insurance</option>
											<option value="Liberty Videocon General Insurance">Liberty Videocon General Insurance</option>
											<option value="Magma HDI General Insurance">Magma HDI General Insurance</option>
											<option value="Max Bupa General Insurance">Max Bupa General Insurance</option>
											<option value="National Insurance Company Limited">National Insurance Company Limited</option>
											<option value="New India Assurance">New India Assurance</option>
											<option value="Oriental Insurance Company">Oriental Insurance Company</option>
											<option value="Raheja QBE General Insurance Company Ltd - Raheja QBE">Raheja QBE General Insurance Company Ltd - Raheja QBE</option>
											<option value="Reliance General Insurance">Reliance General Insurance</option>
											<option value="Religare Health Insurance">Religare Health Insurance</option>
											<option value="Royal Sundaram General Insurance Co. Limited">Royal Sundaram General Insurance Co. Limited</option>
											<option value="SBI General Insurance Company Ltd">SBI General Insurance Company Ltd</option>
											<option value="Shriram General Insurance Company Ltd">Shriram General Insurance Company Ltd</option>
											<option value="Star Health and Allied Insurance">Star Health and Allied Insurance</option>
											<option value="Tata AIG General Insurance">Tata AIG General Insurance</option>
											<option value="United India Insurance">United India Insurance</option>
											<option value="Universal Sompo General Insurance">Universal Sompo General Insurance</option>
											<option value="Others">Others</option>
											
										</select>
									  </div>
									
									  <div class="col-md-3">
										<label for="serviceType"><b>Type of Insurance <b></label>
										
										<select class="form-control" id="" name="serviceType">
										  <option value="0">--SELECT--</option>
										  <option value="MI">MI</option>
										  <option value="Non MI">Non MI</option>
										  
									
									</select>
									  </div>
								   
								  </div>
								</div>
							   
								  <div class="col-md-12">
									<div class="radio">
									  <label>
										<input type="radio" name="ServicedAtOtherDealerRadio" value="Non Autorized workshop" id="NonAutorizedworkshopid" >
										Unauthorized Dealer</label>
									</div>
								  </div>
							  
								<div class="animated  bounceInRight" style="display:none;" id="NonAutorizedworkshopDiv">
								  <div class="col-md-12">
									<div class="col-md-3">
									  <label for="dateOfServiceNonAuth"><b>Date of Renewal<b></label>
									  <input type="text" name="dateOfServiceNonAuth" class="datepickerPrevious form-control" />
									</div>
									<div class="col-md-3">
									  <label for="mileageAsOnDate"><b> Insurance Provider<b></label>
									 <select class="form-control">
											<option value="0">--Select--</option>
											<option value="Agriculture Insurance Company of India">Agriculture Insurance Company of India</option>
											<option value="Apollo Munich Insurance">Apollo Munich Insurance</option>
											<option value="Bajaj Allianz General Insurance">Bajaj Allianz General Insurance</option>
											<option value="Bharti AXA General Insurance">Bharti AXA General Insurance</option>
											<option value="Cholamandalam MS General Insurance">Cholamandalam MS General Insurance</option>
											<option value="Cigna TTK Health Insurance Company Ltd - Cigna TTK">Cigna TTK Health Insurance Company Ltd - Cigna TTK</option>
											<option value="ECGC (Export Credit Guarantee Corporation of India)">ECGC (Export Credit Guarantee Corporation of India)</option>
											<option value="Future Generali India Insurance Company Ltd">Future Generali India Insurance Company Ltd</option>
											<option value="HDFC ERGO General Insurance">HDFC ERGO General Insurance</option>
											<option value="ICICI Lombard General Insurance Company Limited">ICICI Lombard General Insurance Company Limited</option>
											<option value="IFFCO Tokio General Insurance Company Limited">IFFCO Tokio General Insurance Company Limited</option>
											<option value="L&T General Insurance">L&T General Insurance</option>
											<option value="Liberty Videocon General Insurance">Liberty Videocon General Insurance</option>
											<option value="Magma HDI General Insurance">Magma HDI General Insurance</option>
											<option value="Max Bupa General Insurance">Max Bupa General Insurance</option>
											<option value="National Insurance Company Limited">National Insurance Company Limited</option>
											<option value="New India Assurance">New India Assurance</option>
											<option value="Oriental Insurance Company">Oriental Insurance Company</option>
											<option value="Raheja QBE General Insurance Company Ltd - Raheja QBE">Raheja QBE General Insurance Company Ltd - Raheja QBE</option>
											<option value="Reliance General Insurance">Reliance General Insurance</option>
											<option value="Religare Health Insurance">Religare Health Insurance</option>
											<option value="Royal Sundaram General Insurance Co. Limited">Royal Sundaram General Insurance Co. Limited</option>
											<option value="SBI General Insurance Company Ltd">SBI General Insurance Company Ltd</option>
											<option value="Shriram General Insurance Company Ltd">Shriram General Insurance Company Ltd</option>
											<option value="Star Health and Allied Insurance">Star Health and Allied Insurance</option>
											<option value="Tata AIG General Insurance">Tata AIG General Insurance</option>
											<option value="United India Insurance">United India Insurance</option>
											<option value="Universal Sompo General Insurance">Universal Sompo General Insurance</option>
											<option value="Others">Others</option>
											
										</select>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							
						  </div>
						  
						  <div class="pull-right" >
					
					  <button type="button" class="btn btn-primary" value="" id="nextToAlreadySrviceUpsell"/>Next</button>
					</div>
				  </div>
		<div class="row animated  bounceInRight" id="AlreadyServiceUpsellOpp" style="display:none;">
						  <div class="col-md-12">
				   
					<label>Capture Lead : Is there an Upsell Opportunity.</label>
				   <br>
				   
					<div class="radio-inline">
					  <label>
						<input type="radio" name="LeadYesAlradyService" onclick="loadLeadBasedOnLocation();" value="Capture Lead Yes AlreadyService" id="" >
						Yes</label>
					</div>
					<div class="radio-inline">
					  <label>
						<input type="radio" name="LeadYesAlradyService" value="Capture Lead No AlreadyService" id="" >
						No</label>
					</div>
					<div class="row animated  bounceInRight" style="display:none;" id="LeadDivAlreadyService">
					  <div class="col-md-6">
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="" name="upsellLead[7].upSellType" value="Insurance" id="InsuranceIDCheckAlreadyServiced">
							Periodic Maintenance Service</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="InsuranceSelectAlreadyService">
						  <div class="col-md-12">
							<div class="col-md-3">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[7].taggedTo" id="insuranceLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-3">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[7].upsellComments"></textarea>
							</div>
						   </div>
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="" name="upsellLead[8].upSellType" value="Warranty / EW" id="WARRANTYIDAlreadyService" >
							Warranty / EW</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="WARRANTYSelectAlreadyService">
							<div class="col-md-12">
							<div class="col-md-3">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[8].taggedTo" id="warrantyLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-3">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[8].upsellComments"></textarea>
							</div>
						   </div>
						  
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="VAS" name="upsellLead[9].upSellType" value="VAS" id="VASIDAlreadyService" />
							VAS</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="VASTagToSelectAlreadyService">
						   <div class="col-md-12">
							<div class="col-md-3">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[9].taggedTo" id="vASLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-3">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[9].upsellComments"></textarea>
							</div>
						   </div>
						  
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="LeadClass" name="upsellLead[10].upSellType" value="Re-Finance / New Car Finance" id="ReFinanceIDCheckAlreadyService" />
							Re-Finance / New Car Finance</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="ReFinanceSelectAlreadyService">
						  <div class="col-md-12">
							<div class="col-md-3">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[10].taggedTo" id="reFinanceLead">
								<option >Select</option>	
							  </select>
							   </div>
							   <div class="col-md-3">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[10].upsellComments"></textarea>
							</div>
						   </div>
						 
						</div>
						</div>
						 <div class="col-md-6">
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="Loan" name="upsellLead[11].upSellType" value="Sell Old Car" id="LoanIDAlreadyService" />
							Sell Old Car</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="LoanSelectAlreadyService">
						   <div class="col-md-12">
							<div class="col-md-3">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[11].taggedTo" id="sellOldCarLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-3">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[11].upsellComments"></textarea>
							</div>
						   </div>
					
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="EXCHANGE" name="upsellLead[12].upSellType" value="Buy New Car / Exchange" id="EXCHANGEIDAlreadyService" />
							Buy New Car / Exchange</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="EXCHANGEIDSelectAlreadyService">
						   <div class="col-md-12">
							<div class="col-md-3">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[12].taggedTo" id="buyNewCarLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-3">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[12].upsellComments"></textarea>
							</div>
						   </div>
						
						</div>
						  <div class="checkbox">
						  <label>
							<input type="checkbox" class="UsedCar" name="upsellLead[13].upSellType" value="UsedCar" id="UsedCarIDAlreadyService" />
							Used Car</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="UsedCarSelectAlreadyService">
						   <div class="col-md-12">
							<div class="col-md-3">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[13].taggedTo" id="usedCarLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-3">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[13].upsellComments"></textarea>
							</div>
						   </div>
						  
						</div>
				   
					  </div>
					</div>
					  <div class="pull-right" >
					<button type="button" class="btn btn-primary" id="BackToAlreadySerUpsel">Back</button>
					  <button type="button" class="btn btn-primary" value="" id="NextAlreadySerFeedBack"/>Next</button>
					</div>
					
						  </div>
				
							</div>
							<div class="row animated  bounceInRight" id="AlreadyServiceFeedBAck" style="display:none;">
						  <div class="col-md-12">
						 
							<label>Does Customer has a feedback / compliant ?</label>
							<br>
							<div class="radio-inline">
							  <label for="feedbackYes">
								<input type="radio" name="userfeedbackAlreadyService" onclick="loadLeadBasedOnLocationDepartment();" value="feedback Yes AlreadyService" id="userfeedbackAlreadyService" >
								Yes</label>
							</div>
							<div class="radio-inline">
							  <label for="feedbackNo">
								<input type="radio" name="userfeedbackAlreadyService" value="feedback No AlreadyService" id="" >
								No</label> 
							</div>
						
					   
						<div class="row animated  bounceInRight" style="display:none;" id="feedbackDIVAlreadyService"><br>
						 <div class="col-md-12">
						  <div class="col-md-3">
							<label for="">Select Department<i class="lblStar">*</i></label>
						<select class="form-control selected_department" id="selected_department" name="departmentForFB1" onchange="ajaxLeadTagByDepartment();">
						 <option>select</option>
						 
							</select>
						  </div>
						  <div class="col-md-3">
							<label for="">Tag to</label>
							<select class="form-control" id="LeadTagsByLocation" name="complaintOrFB_TagTo1">
							  
							</select>
						  </div>
						
						  <div class="col-md-3">
							<label for="comments">Feedback/Comment</label>
							<textarea class="form-control" rows="1" id="comments" name="remarksOfFB1"></textarea>
						  </div>
						  <br>
						</div>
						  </div>
						  <div class="pull-right" >
					<button type="button" class="btn btn-primary" id="BackToAlreadyServUpsell">Back</button>
					  <button type="button" class="btn btn-primary" value="" id="NextToLastAlreadySerQuestion"/>Next</button>
					</div>
				  </div>
				    </div>
					
					<div class="row animated  bounceInRight" id="LastQuestionAlreadyServ" style="display:none;">
						  <div class="col-md-12">
						  <div class="col-md-12">
							<label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
							<br>
							<div class="radio-inline">
							  <label for="">
								<input type="radio" name="radio7" value="" id=""  data-toggle="modal" data-target="#addBtn" >
								Yes</label>
							</div>
							<div class="radio-inline">
							  <label for="feedbackNo">
								<input type="radio" name="radio7" value="" id="" >
								No</label> 
							</div>
						  </div>
						  </div>
						  <div class="pull-right" >
					<button type="button" class="btn btn-primary " id="BackToAlreadyServiceFeedBack">Back</button>
					 <button type="submit" class="btn btn-primary" value="alreadyServiced" name="typeOfsubmit"id="alreadyServiced"/>Submit</button>
					</div>
						  </div>
						
						
						<div class="checkbox VehicleSold"> 
						  <label>
							<input type="checkbox" class="NoService" name="noServiceReason" value="Vehicle Sold" id="VehicleSold" >
							Vehicle Sold</label>
						</div>
						
				
						<div class="row animated  bounceInRight" style="display:none;" id="VehicelSoldYesRNo">
						<div class="col-md-12">
                        <label>	Do you have the contact details of the new owner ?</label>
                        <br>
                        <div class="radio-inline">
                          <label for="">
                            <input type="radio" name="VehicleSoldYes" value="VehicleSold Yes" id="VehicleSoldYesbtn" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="">
                            <input type="radio" name="VehicleSoldYes" value="VehicleSoldYes No" id="VehicleSoldNobtn" >
                            No</label> 
                        </div>
                      </div>
                     <div class="pull-right backToAllSNR">
				    <button type="button" class="btn btn-primary" value="" id="backToAlreadyServicediv">Back</button>
					<button type="button" class="btn btn-primary" value="" id="NextToPurchaseNewcarNO">Next</button>
                </div>
						
                      
						</div>
						
					
							<div class="row animated  bounceInRight" style="display:none;"  id="VehicleSoldClickYes">
							 
							
				<div class="row">
			 <div class="col-md-12">
 <label>Please confirm the name of the new owner. </label><br>			 
               <div class="form-group">
      <div class="col-xs-1">
       
       <select class="form-control">
<option>Mr.</option>
<option>Ms.</option>
<option>Mrs.</option>

</select>
      </div>
      <div class="col-xs-2" style="margin-left: -28px;">
       
        <input class="form-control onlyAlphabetOnly" id="customerFNameConfirm" name="" placeholder="First Name" type="text">
      </div>
      <div class="col-xs-2">
       
        <input class="form-control onlyAlphabetOnly" name="" placeholder="Last Name" id="customerLName" type="text">
      </div>
	  </div>
	  </div>
	  </div>
	  </br>
	  <div class="row">
			 <div class="col-md-12">
       <div class="col-xs-2">
              <input class="form-control numberOnly" name="phoneList[0]" maxlength="10" placeholder="Mobile1" id="Mobile1" type="text">
      </div>
      <div class="col-xs-2">
     
        <input class="form-control numberOnly" name="phoneList[1]" maxlength="10" placeholder="Mobile2" id="" type="text">
      </div>
	  
      <div class="col-xs-1">
     
        <input class="form-control numberOnly" name="phoneList[2]" maxlength="5" placeholder="STDCode" id="" type="text">
      </div>
      <div class="col-xs-2">
        
        <input class="form-control numberOnly" name="phoneList[3]" maxlength="10" placeholder="Landline No." id="" type="text">
      </div>
    </div>
        </div>
			</br>
            					
				
           <div class="row">
             <div class="col-md-12">
							
							  <div class="form-group">
							 
							 <div class="col-xs-2">
      
        <textarea class="form-control" name="addressLine1" placeholder="Address Line1" id="" rows="1" type="text" ></textarea>
      </div>
      <div class="col-xs-2">
       
         <textarea class="form-control" placeholder="Address Line2" name="addressLine2" id="" rows="1" type="text" ></textarea>
      </div>
	        </div>
			</div>
			</div>
			</br>
			   <div class="row">
             <div class="col-md-12">
       <div class="col-xs-2">

        <select class="form-control" name="" placeholder="City" id="">	
                                        <option value='select'>--Select City--</option>
                                        @for(location_list<-locationList){
                                        <option value="@location_list.getName()">@location_list.getName()</option>
                                        }
                                    </select>
      </div>
      <div class="col-xs-2">
      
        <input class="form-control" name="state" placeholder="State" id="" type="text">
      </div>
       <div class="col-xs-2">
     
        <input class="form-control numberOnly" maxlength="6" name="pincode" placeholder="Pin" id="" type="text">
		<input type="hidden" name="country" value="India">
      </div>
      </div>
							 </div>
            
								 <div class="pull-right backToYesSNR ">
				    <button type="button" class="btn btn-primary" value="" id="backToSNR">Back</button>
					<button type="button" class="btn btn-primary" value="" id="NextToPurchaseCar">Next</button>
                </div>
						   
						  </div>
						</div>
								<div class="row animated  bounceInRight" style="display:none;"  id="VehicleSoldClickNo">
						  <div class="col-md-12">
						  <label for=""><b>	Did you purchase another car?<b></label><br>
						     <div class="radio-inline">
                          <label for="">
                            <input type="radio" name="PurchaseYes" value="Purchase Yes" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="">
                            <input type="radio" name="PurchaseYes" value="Purchase No" id="" >
                            No</label> 
                        </div>
						   
						
						
						
							<div class="row animated  bounceInRight" style="display:none;"  id="PurchaseClickYes">
						  <div class="col-md-12">
						 
						   <div class="col-xs-2">
					        <label for=""> New Car Registration No</label>
					        <input class="form-control" id="" name="vehicleRegNo" type="text">
					      </div>
					         <div class="col-xs-2">
					        <label for=""> Brand</label>
					        <input class="form-control" id="" name="variant" type="text">
					      </div>
					         <div class="col-xs-2">
					        <label for=""> Model</label>
					        <input class="form-control" id="" name="model" type="text">
					      </div>
					      <div class="col-xs-2">
					        <label for=""> Dealership Name</label>
					        <input class="form-control" id="" name="dealershipName" type="text">
					      </div>
					      <div class="col-xs-3">
					        <label for=""> Sale Date</label>
					        <input class="form-control datepicker" name="saleDate" id="" type="text" readonly>
					      </div>
						  </div>
					
						   
						  </div>
							  </div>  
						  <div class="pull-right">
				 <button type="button" class="btn btn-primary" value="" id="BackToPleaseComfNewOwnre">Back</button>
					<button type="button" class="btn btn-primary" value="" id="nextToFinalEditInfoVS">next</button>
                </div>
						</div>
						
 	<div class="row animated  bounceInRight" id="VehicelSoldQuestion" style="display:none;">
				      <div class="col-md-12">
                      <div class="col-md-12">
                        <label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
                        <br>
                        <div class="radio-inline">
                          <label for="feedbackYes">
                            <input type="radio" name="radio3" value="" data-toggle="modal" data-target="#addBtn" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="feedbackNo">
                            <input type="radio" name="radio3" value="" id="" >
                            No</label> 
                        </div>
                      </div>
                      </div>
                      <div class="pull-right" >
				<button type="button" class="btn btn-primary" id="BackToVSHVNewCar">Back</button>
                 <button type="submit" class="btn btn-primary" value="vehicleSold" name="typeOfsubmit" id="vehicleSold" />Submit</button>
                </div>
                      </div>
                      
					  
					
						
						<div class="checkbox Dissatisfiedwithpreviousservice">
						  <label>
							<input type="checkbox" class="NoService" name="noServiceReason" onclick="advisorBasedOnWorkshop();" value="Dissatisfied with previous service" id="Dissatisfiedwithpreviousservice" >
							Dissatisfied with previous service</label>
						</div>

						<div class="row animated  bounceInRight" style="display:none;"  id="txtDissatisfiedwithpreviousservice">
						  <div class="col-md-12">
							
							  <div class="col-md-3">
								<div class="form-group">
								  <label for="lastServiceDateOfDWPS"><b>Last Service Date<b></label>
								 <input type="text" name="lastServiceDateOfDWPS" value="@{vehicleData.getLastServiceDate()}" class="form-control datepickerPrevious" />
								</div>
							  </div>
							   <div class="col-md-3">
								<div class="form-group">
								  <label for=""><b>Service Advisor ID<b></label>
								  <input type="text" name="serviceAdvisorID" value="@{if(latestService.getServiceAdvisor()!=null){latestService.getServiceAdvisor().getAdvisorName()}}" class="form-control" readonly/> 
								</div>
							  </div>
							  <div class="col-md-3">
								<div class="form-group">
								  <label for=""><b>Assigned To<b></label>
								  
								  
								  <select class="form-control"  id="assignedToSA" name="assignedToSA">
								  <option value=0>--Select--</option>
								  
						
								  </select>
								</div>
							  </div>
							
						   
						  </div>
						  <div class="pull-right" >
				
                  <button type="button" class="btn btn-primary" value="" id="NextDisatisfiedPrPopup"/>Next</button>
                </div>
						</div>
							<div class="row animated  bounceInRight" id="DisatisfiedPreQuestion" style="display:none;">
				      <div class="col-md-12">
                      <div class="col-md-12">
                        <label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
                        <br>
                        <div class="radio-inline">
                          <label for="feedbackYes">
                            <input type="radio" name="radio1" value="" data-toggle="modal" data-target="#addBtn" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="feedbackNo">
                            <input type="radio" name="radio1" value="" id="" >
                            No</label> 
                        </div>
                      </div>
                      </div>
                      <div class="pull-right" >
				
                  <button type="submit" class="btn btn-primary" value="dissatifiedwithPreviousService" name="typeOfsubmit" id="dissatifiedwithPreviousService"/>Submit</button>
                </div>
                      </div>
                      
					  
						<div class="checkbox Distancefrom">
						  <label>
							<input type="checkbox" class="NoService" name="noServiceReason" value="Distance from Dealer Location" id="Distancefrom" >
							Distance from Dealer Location</label>
						</div>
						<div style="display:none;" class="animated  bounceInRight" id="DistancefromDealerLocationDIV">
						 <div class="col-md-12">
						  <div class="radio">
							<label>
							  <input type="radio" name="DistancefromDealerLocationRadio" value="Transfer to other city" id="TransfertoothercityID" >
							  Transfer to other city</label>
						  </div>
						  </div>
						  <div class="animated  bounceInRight" style="display:none;" id="txtTransfertoothercity">
						  <div class="col-md-12">
							<div class="col-md-3">
							<label for="transferedCity"><b>Enter name of the city<b></label>							
									<select class="form-control" name="transferedCity">
									<option value="select">select</option>
									<option value="Ahmedabad">Ahmedabad</option>
									<option value="Dhari">Dhari</option>
									<option value="Gondal">Gondal</option>
									<option value="Hapa">Hapa</option>
									<option value="Jamnagar City">Jamnagar City</option>
									<option value="Jasdan">Jasdan</option>
									<option value="Kuvadwa Road">Kuvadwa Road</option>
									<option value="Metoda">Metoda</option>
									<option value="Moti Khavdi">Moti Khavdi</option>
									<option value="Padana">Padana</option>
									<option value="Porbander">Porbander</option>									
									<option value="Rajula">Rajula</option>
									<option value="Tagore Road">Tagore Road</option>
									<option value="University Road">University Road</option>									
									<option value="Wankaner">Wankaner</option>
									<option value="Others">Others</option>									
									</select>
						   
						  </div>
						  </div>
						  </div>
						   <div class="col-md-12">
						  <div class="radio">
							<label>
							  <input type="radio" name="DistancefromDealerLocationRadio" value="Too far" id="ToofarID" >
							  Too far(Same city)</label>
						  </div>
						  </div>
						  <div class="animated  bounceInRight" style="display:none;"  id="txtToofar">
							<div class="col-md-12">
							 
								<div class="col-md-3">
								  <label for=""><b>Enter PIN of the city<b></label>
								  <input type="text" name="pinCodeOfCity" class="form-control numberOnly" maxlength="6" />
								</div>
							  
							  
								<div class="col-md-9">
								  <label for=""><b>Would you like to opt for Maruti Mobile Service(MMS)<b></label>
								  <br>
								  <div class="radio-inline">
									<label>
									  <input type="radio" name="optforMMS" value="yes" id="EnterPINthecityID" >
									  Yes</label>
								  </div>
								  <div class="radio-inline">
									<label>
									  <input type="radio" name="optforMMS" value="No" id="EnterPINofthecityID" >
									  NO</label>
								  </div>
								</div>
							
							</div>
						  </div>
				 <div class="pull-right" >
				    <button type="button" class="btn btn-primary" value="" id="NextDistanceForPopup"/>Next</button>
                </div>
						</div>
						<div class="row animated  bounceInRight" id="DistanceFoRRQuestion" style="display:none;">
				      <div class="col-md-12">
                      <div class="col-md-12">
                        <label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
                        <br>
                        <div class="radio-inline">
                          <label for="feedbackYes">
                            <input type="radio" name="radio4" value="" data-toggle="modal" data-target="#addBtn" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="feedbackNo">
                            <input type="radio" name="radio4" value="" id="" >
                            No</label> 
                        </div>
                      </div>
                      </div>
                      <div class="pull-right" >
				
                  <button type="submit" class="btn btn-primary" value="dissatifiedwithPreviousService" name="typeOfsubmit" id="dissatifiedwithPreviousServices"/>Submit</button>
                </div>
                      </div>
                      
						
						
						<div class="checkbox DissatisfiedwithSalesID">
						  <label>
							<input type="checkbox" class="NoService" name="noServiceReason" onclick="ajaxLeadOnDissatisfiedWithSales(7);" value="Dissatisfied with Sales" id="DissatisfiedwithSalesID" >
							Dissatisfaction with Sales</label>
 						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="DissatisfactionwithSalesREmarksDiv">
						  <div class="col-md-12">
							
							  <div class="col-md-3">
								<label for="">Tag to</label>
								<select class="form-control" id="noServiceReasonTaggedTo" name="noServiceReasonTaggedTo">
								  <option value="select">select</option>
								  
								</select>
							  </div>
							
							  <div class="col-md-3">
								<label for="">Remarks</label>
								<textarea type="text" rows="1" name="noServiceReasonTaggedToComments" class="form-control"></textarea>
							  </div>
							
						  </div>
						   <div class="pull-right" >
				    <button type="button" class="btn btn-primary" value="" id="NextDisSatisSalePopup"/>Next</button>
                </div>
						</div>
						<div class="row animated  bounceInRight" id="DisstisFiedSaleRQuestion" style="display:none;">
				      <div class="col-md-12">
                      <div class="col-md-12">
                        <label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
                        <br>
                        <div class="radio-inline">
                          <label for="feedbackYes">
                            <input type="radio" name="radio5" value="" data-toggle="modal" data-target="#addBtn" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="feedbackNo">
                            <input type="radio" name="radio5" value="" id="" >
                            No</label> 
                        </div>
                      </div>
                      </div>
                      <div class="pull-right" >
				
                  <button type="submit" class="btn btn-primary" value="dissatifiedwithPreviousService" name="typeOfsubmit" id="dissatifiedwithPService"/>Submit</button>
                </div>
                      </div>
					  
						<div class="checkbox DissatisfiedwithInsuranceId">
						  <label>
							<input type="checkbox"  class="NoService" name="noServiceReason" onclick="ajaxLeadOnDissatisfiedWithSales(1);" value="Dissatisfied with Insurance" id="DissatisfiedwithInsuranceId" >
							Dissatisfaction with Insurance</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="DissatisfactionwithInsuranceREmarksDiv">
						  <div class="col-md-12">
							
							  <div class="col-md-3">
								<label for="">Tag the case to</label>
								<select class="form-control" id="noServiceReasonTaggedTo1" name="noServiceReasonTaggedTo1">
								  <option value="select">select</option>
								</select>
							  </div>
							  <div class="col-md-3">
								<label for="">Remarks</label>
								<textarea type="text" rows="1" name="noServiceReasonTaggedToComments1" class="form-control"></textarea>
							  </div>
							
						   
						  </div>
						  <div class="pull-right" >
				    <button type="button" class="btn btn-primary" value="" id="NextDisSatInsurancPopup"/>Next</button>
                </div>
						</div>
								<div class="row animated  bounceInRight" id="DisstisInsurancQuestion" style="display:none;">
				      <div class="col-md-12">
                      <div class="col-md-12">
                        <label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
                        <br>
                        <div class="radio-inline">
                          <label for="feedbackYes">
                            <input type="radio" name="radio6" value="" data-toggle="modal" data-target="#addBtn" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="feedbackNo">
                            <input type="radio" name="radio6" value="" id="" >
                            No</label> 
                        </div>
                      </div>
                      </div>
                      <div class="pull-right" >
				
                  <button type="submit" class="btn btn-primary" value="dissatifiedwithPreviousService" name="typeOfsubmit" id="dissatifiedwithService"/>Submit</button>
                </div>
                      </div>
					  
					  
						 <div class="checkbox Stolen">
						  <label>
							<input type="checkbox"  class="NoService" name="noServiceReason" value="Stolen" id="Stolen" >
							Stolen</label>
							
						</div>
						
						 <div class="checkbox Totalloss">
						  <label>
							<input type="checkbox"  class="NoService" name="noServiceReason" value="Total loss" id="Totalloss" >
							Total loss/Damaged</label>
							
						</div>
						<div class="pull-right" style="display:none;" id="stolenHideShowSubmit">
				    <button type="submit" class="btn btn-primary" value="vehicleSold" name="typeOfsubmit" id="stolenDamageSubmit"/>Submit</button>
                </div>
						
						
						<div class="checkbox OtherLast">
						  <label>
							<input type="checkbox"  class="NoService" name="noServiceReason" value="Other Service" id="Other" >
							Other</label>
						</div>
						<div class="animated  bounceInRight" style="display:none;" id="OtherSeriveRemarks">
						  
						   <div class="col-md-3">
							  <label for="comments">Enter other reason for no service</label>
							  <textarea class="form-control" rows="1" id="comments" name="reason" ></textarea>
						   </div>
						 
						 	  <div class="pull-right" >
				    <button type="button" class="btn btn-primary" value="" id="NextOthersPopup"/>Next</button>
                </div>
						</div>
					<div class="row animated  bounceInRight" id="OthersLastQuestion" style="display:none;">
				      <div class="col-md-12">
                      <div class="col-md-12">
                        <label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
                        <br>
                        <div class="radio-inline">
                          <label for="feedbackYes">
                            <input type="radio" name="radio8" value="" data-toggle="modal" data-target="#addBtn" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="feedbackNo">
                            <input type="radio" name="radio8" value="" id="" >
                            No</label> 
                        </div>
                      </div>
                      </div>
                      <div class="pull-right" >
				
                  <button type="submit" class="btn btn-primary" value="dissatifiedwithPreviousService" name="typeOfsubmit" id="vehicleSoldStolen"/>Submit</button>
                </div>
                      </div>
					
					</div>
				</div>
						</div>
<!--Out Bound Upsel Opportunity---------->
			
		
	 
			
		  <div class="col-md-4" id="NoComments" style="display:none;">
			<div class="row">
			  <label for="comments"><b>Remarks<b></label>
			  <textarea class="form-control" rows="2" id="comments" name="comments"></textarea>
			</div>
		  </div>
		 
		</div>
	 
  </div>
</div>
<br>
</div>
</div>
</div>


<!--  Inbound Call-->


				  
				  