@(dealercode:String,dealerName:String,userName:String,oem:String)

@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode,oem) {

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading"> PSF List For 3rd Day FeedBack</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li id="psf6thData" class="active"><a href="#home" data-toggle="tab" value ="psf3rdday" id="Tab1" onclick="assignedInteractionPSFData(result.name);" >3rd Day PSF</a> </li>
                    <li><a href="#profile" data-toggle="tab"  id="Tab2" onclick="ajaxCallForFollowUpRequiredPSFData();">Follow Up Required</a> </li>
                    <!-- <li><a href="#messages" data-toggle="tab" id="Tab3" >Incompleted Survey</a> </li> -->
                    <li><a href="#settings" data-toggle="tab" id="Tab4" onclick="ajaxCallForCompletedSurveyPSFData();" >Completed Survey</a> </li>
                    <li><a href="#nonContacts" data-toggle="tab" id="Tab5" onclick="ajaxCallForNonContactsPSFData();">Non Contacts</a> </li>
                    <li><a href="#droppedBuc" data-toggle="tab" id="Tab6" onclick="ajaxCallForDroppedCallsPSFData();">Dropped</a> </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="assignedInteractionPSFData">
                                    <thead>
                                        <tr>                                    
                                            <th>Customer Name</th>                                    
                                            <th>Vehicle RegNo.</th>
                                            <th>Model</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>



                    <div class="tab-pane fade" id="profile">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="ajaxCallForFollowUpRequiredPSFData">
                                    <thead>
                                        <tr>                                    
                                            <th>Customer Name</th>                                    
                                            <th>Vehicle RegNo.</th>
                                            <th>FollowUp Date</th>                                    
                                            <th>FollowUp Time</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>






                    <div class="tab-pane fade" id="messages">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="ajaxCallForIncompletedSurveyPSFData">
                                    <thead>
                                        <tr>                                    
                                            <th>Customer Name</th>                                    
                                            <th>Vehicle RegNo.</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>



                    <div class="tab-pane fade" id="settings">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="ajaxCallForCompletedSurveyPSFData">
                                    <thead>
                                        <tr>                                    
                                            <th>Customer Name</th>                                    
                                            <th>Vehicle RegNo.</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>



                    <div class="tab-pane fade" id="nonContacts">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="ajaxCallForNonContactsPSFData">
                                    <thead>
                                        <tr>                                    
                                            <th>Customer Name</th>                                    
                                            <th>Vehicle RegNo.</th>
                                             <th>Last Disposition</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>
                    <div class="tab-pane fade" id="droppedBuc">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="ajaxCallForDroppedCallsPSFData">
                                    <thead>
                                        <tr>                                    
                                            <th>Customer Name</th>                                    
                                            <th>Vehicle RegNo.</th>
                                             <th>Last Disposition</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>

                    <!-- /.panel --> 
                </div>
                <!-- /.col-lg-12 --> 
            </div>
        </div>
    </div>
</div>

}
<script type="text/javascript">
    window.onload = ajaxRequestPSFDataPageWithTabFor3rd;
</script>
<script type="text/javascript">
var result = {name:'psf3rdday'};

    function assignedInteractionPSFData(name) {
        // alert("server side data load");
           //alert(name);

        $('#assignedInteractionPSFData').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax":"/assignedInteractionTablePSFData"+"/"+name+""
            
        }),
     
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
            $($.fn.dataTable.tables(true)).DataTable()
               .columns.adjust();
         });


    }

   
    function ajaxCallForFollowUpRequiredPSFData() {
    	 var psfDay = 'psf3rdday'; 
        //alert("follow up server side data");
        $('#ajaxCallForFollowUpRequiredPSFData').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax": "/ajaxCallForFollowUpRequiredPSFData"+"/"+psfDay+""
        });
       
    }



    function ajaxCallForIncompletedSurveyPSFData() {
    	 var psfDay = 'psf3rdday';
        $('#ajaxCallForIncompletedSurveyPSFData').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax": "/ajaxCallForIncompletedSurveyPSFData"+"/"+psfDay+""
        });

    }

    function ajaxCallForCompletedSurveyPSFData() {
    	 var psfDay = 'psf3rdday'; 
        $('#ajaxCallForCompletedSurveyPSFData').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax": "/ajaxCallForCompletedSurveyPSFData"+"/"+psfDay+""
        });


    }

    function ajaxCallForNonContactsPSFData() {
    	 var psfDay = 'psf3rdday'; 
        $('#ajaxCallForNonContactsPSFData').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax": "/ajaxCallForNonContactsPSFData"+"/"+psfDay+""
        });
    }


    function ajaxCallForDroppedCallsPSFData() {
    	 var psfDay = 'psf3rdday'; 
        $('#ajaxCallForDroppedCallsPSFData').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax": "/ajaxCallForDroppedCallsPSFData"+"/"+psfDay+""
        });

    }

</script>
