@(user:String,dealer:String,dispoList:List[CallDispositionData],campaignList :List[Campaign],crelist :List[WyzUser])
@mainPageCREManger("AutoSherpaCRM",user,dealer) {
	

    <div class="panel panel-primary">
      <div class="panel-heading"><b>Insurance Call Recording</b></div>
      <div class="panel-body">

      <div class="row">
      	<div class="col-md-12">
      		  	  <div class="panel panel-default">
	  <div class="panel-body">
	  <div class="row">
      			<div class="col-md-2">
      				<div class="form-group">
      				<label>Call Date From</label>
      					<input type="text" class="filter form-control datepickerFilter" data-column-index="0" placeholder="Call Date From" readonly/>	
      				</div>
      			</div>
      		 <div class="col-md-2">
      				<div class="form-group">
      				<label>Call Date To</label>
      					<input type="text" class="filter form-control datepickerFilter" data-column-index="1" placeholder="Call Date To" readonly/>	
      				</div>
      			</div>
      		
      			<div class="col-md-2">
      				<div class="form-group">
      				<label>Call Type</label>
      						
      						<select class="filter form-control" data-column-index="2">      						
      						<option value="0" >--Select--</option>
      						<option value="OUTGOING" >OUTGOING</option>
      						<option value="INCOMING" >INCOMING</option>
      						<option value="MISSED" >MISSED</option>
                
                    
                </select>
      				</div>
      			</div>
      			<div class="col-md-2">
      				<div class="form-group">
      				<label>Campaign</label>
      						
      						<select class="filter form-control" data-column-index="3">
      						<option value="0" >--Select--</option>
      						@for(campaign_List<-campaignList){
		                                <option value="@campaign_List.getCampaignName()">@campaign_List.getCampaignName()</option>
		                             }
                
                    
                </select>
      				</div>
      			</div>
      			<div class="col-md-2">
      				<div class="form-group">
      				<label>CRM Initiated ?</label>
      						
      						<select class="filter form-control" data-column-index="4">
      						<option value="0" >--Select--</option>
      						<option value="Initiated" >YES</option>
      						<option value="NotDailed" >NO</option>
      						<option value="Not Disposed">Not Disposed</option>
                
                    
                </select>
      				</div>
      			</div>
      			
      			
      			
      			
      			
      	</div>
  
   
      <div class="row">
      	
      			<div class="col-md-2">
      				<div clas="form-group">
      				<label>Disposition</label>
      					
      					<select class="filter form-control" data-column-index="5"> 
      					<option value="0" >--Select--</option>               
                    @for(dispo <- dispoList){
			<option value="@dispo.getDisposition()">@dispo.getDisposition()</option>
		}
                </select>
      				</div>
      			</div>
      			<div class="col-md-2">
      				<div clas="form-group">
      				<label>User Name</label>
      					
      					<select class="filter form-control selectpicker" data-column-index="6" id="ddlCreIds" name="ddlCreIds" multiple> 
      					@for(crelistIs <- crelist){
			<option value="@crelistIs.getId()">@crelistIs.getUserName()</option>
		}
                
                    
                </select>	
      				</div>
      			</div>
      			<div class="col-md-2">
      				<div clas="form-group">
      				<label>&nbsp;</label><br />
      					 <button type="submit"  id="searchCust" class="btn btn-primary btn-block">
                    			<i class="fa fa-search"></i>
                    			<span>Search</span>
        				</button>        				 
 	
      				</div>
      			</div>
      			 
      	</div>
      </div>
      </div>
    
      
           <div class="panel panel-default">
	  <div class="panel-body">
      <div class="dataTable_wrapper">
      <table class="table table-striped table-bordered table-hover" id="recordingTable">
      
       
                 <thead>
                                 <tr>
                                    <th>Call Date</th>
                                    <th>Call Time</th>
                                    <th>Call Type</th>                                   
                                    <th>CRM Initiated ?</th>                                    
                                    <th>User Name</th>
                                    <th>Campaign</th>
                                    <th>Customer Name</th>
                                    <th>Phone No</th>
                                    <th>Veh No</th>
                                    <th>Chasssis No</th>
                                    <th>Disposition</th>
                                    <th>Media</th>
                                 </tr>
                              </thead>

                                <tbody>
                                   
                   				</tbody>
           </table>
        </div>
    
       </div>
    </div>
  </div>
</div>
</div>
</div>
}


<script type="text/javascript">

 $(document).ready(function() {
    var table = $('#recordingTable').dataTable( {
    	"lengthMenu": [ 10, 25, 50, 75, 100 ],
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching":true,
        "ordering":false,
        "ajax": "/CREManager/recordingDataListInsurance"
        
    } );

    var values=[];

  
	
   $('.filter').on('change', function() {
	   
	   var i= $(this).data('columnIndex');
	   var v = $(this).val();
	   if(v.length>0){

		   if(i == 6){
		   var UserIds="",j;
	        myOption = document.getElementById('ddlCreIds');
	        console.log("here"+myOption);		        
	    for (j=0;j<myOption.options.length;j++){
	        if(myOption.options[j].selected){
	            if(myOption.options[j].value != "Select"){
	        		UserIds = UserIds + myOption.options[j].value + ",";
	            }
	        }
	    }
	    	if(UserIds.length > 0){
	        	UserIds = UserIds.substring(0, UserIds.length - 1);
	        	values[6]=UserIds;
	    	}else{
	    		UserIds="Select";
	    		values[6]=UserIds;
	    	}
		   }else{
			   values[i] = v;
			   }
	    	
		   
		 // if(i < 8)
		  
		/*  else if(i == 9){			  
			  values[9] = v;
			  values[4] = values[4]+","+values[9];}*/
		   
	   }
	   
	   	console.log(JSON.stringify(values));
		console.log(i);
	   	
     	  //clear global search values
    	  //table.api().search('');
    	  $(this).data('columnIndex');
    	  
    	  
   });


   $('#searchCust').on('click',function(){

	   //alert(values.length);
	   if(values.length>0) {
			for(var i=0;i<values.length;i++){
				
			   table.api().columns(i).search(values[i]);
			}
			table.api().draw();
	   }
	});
	});

	</script>