
@(dealercode:String,dealerName:String,userName:String,oem:String,locationList : List[Location],workshopList : List[Workshop])

@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {
@helper.form(action = routes.SuperAdminController.postLocationBySuperAdmin) {


<div class="row" >
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">   
        Add Location </div>
		<div class="panel-body">
            <div class="col-lg-3">
              <div class="form-group">
                <label for="locationName">Location Name<i style="color:red">*</i>:</label>
                <input type="text" class="form-control txtOnly" maxlength="6" name="name"  id="locationName" autocomplete="off"  required/>
              </div>
            </div>
              <div class="col-lg-3">
              <div class="form-group">
                <label for="pincode">Pincode<i style="color:red">*</i>:</label>
                <input type="text" class="form-control numericOnly" name="pinCode" maxlength="6" id="pinCode" autocomplete="off"  required/>
              </div>
            </div>
              <div class="col-lg-3">
              <div class="form-group">
                <label for="locationCode">Location Code<i style="color:red">*</i>:</label>
                <input type="text" class="form-control txtOnly" name="locCode"  id="locationCode" autocomplete="off"  required/>
              </div>
            </div>
            <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">CITY </label>
                            <select id="city_id" name="city" class="filter form-control" data-column-index="0" onclick="ajaxCallToLoadWorkShopByCitySB();" required>
                                <option value="" >--Select--</option>
                                @for(location_list<-locationList){                       
                                	<option value="@location_list.getName()">@location_list.getName()</option>
                              	}
                              </select>
                        </div>
                    </div>
                <div class="col-lg-3">
                        <div class="form-group">
                            <label for="workshop">WORKSHOP </label>
                         	<input type="text" class="form-control txtOnly" name="workshopName"  id="workshop_id" autocomplete="off" required/>
                        </div>
                    </div>
                                
						
              <div class="col-lg-3">
              <div class="form-group">
                <label for="stateName">State<i style="color:red">*</i>:</label>
                <input type="text" class="form-control txtOnly" name="workshopAddress"  id="stateName" autocomplete="off"  required/>
              </div>
            </div>
             <div class="col-lg-3">
              <div class="form-group">
              <br />
                            <input type="submit" class="btn btn-primary"  id="locationSubmit" value="Submit" />
              </div>
            </div>
        </div>
     </div>
     </div>
     </div>
     }
 }
 
 <script>
 $(".numericOnly").keypress(function (e) {
	    if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
	});
 $( ".txtOnly" ).keypress(function(e) {
     var key = e.keyCode;
     if (key >= 48 && key <= 57) {
         e.preventDefault();
     }
 });
 </script>