  
@(cityName:String,workshopId:Long,campaignNameCat:Long,campaignTypeCat:Long,fromDateValue:String,toDateValue:String,isRangeSelected:Boolean,toAssigncall:Boolean,allCRE:List[String],filteredData:List[controllers.webmodels.CallLogAjaxLoadInsurance],dealerName:String,user:String,campaign_list:List[Campaign],locationList:List[Location],campaignList:List[Campaign])

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {

@helper.form(action = routes.InsuranceController.postAssignCallInsurance(),'enctype -> "multipart/form-data"){

<input type="hidden" name="fromDateToAss" value="@fromDateValue">
<input type="hidden" name="toDateToAss" value="@toDateValue">
<input type="hidden" name="campaignTypeToAss" value="@campaignTypeCat">
<input type="hidden" name="campaignNameToAss" value="@campaignNameCat">
<input type="hidden" name="cityNameToAss" value="@cityName">
<input type="hidden" name="workshopToAss" value="@workshopId">




<div class="panel panel-info">
        <div class="panel-heading"><strong>Call Allocations| To Assign Calls</strong> </div>
        <div class="panel-body">
            <div class="row">
                
                @if(toAssigncall){     
      <div class="col-sm-3">   
      <div class="form-group">
       <label>Assignment Type :</label>    
      <select class="form-control" name="campaignType" id="campaignTypeData"> 
      <option value='0'>--Select--</option>         
          @for(list_camp <- campaign_list){
		<option value="@list_camp.id">@list_camp.campaignType</option>		
	 }
      </select>
      </div>
      </div>
      } 
 @if(toAssigncall){  

            <div class="col-md-3" >
                                <div class="form-group">
                                    <label for="">Select Campaign Name</label>
                                    <select class="form-control" id="campaignName" name="campaignName" value="@campaignNameCat">	
                                        <option value='0'>--Select--</option>
                                        @for(list_camp <- campaignList){
                                <option value="@list_camp.id">@list_camp.campaignName</option>		
                                         }
                                    
                                     
                                    </select>

                                </div>
                            </div>
                            }
                           				
                                
          
            @if(isRangeSelected){
            <div class=col-md-3>
            <div class="form-group">
                    <label>Select CRE's</label>
    			<select  multiple="multiple" id="data[]" name="data[]" class="selectpicker" required="required">                        			    
                     	@for(data1 <- allCRE){                      	                         
                    
                        <option value="@data1">@data1</option>
                      				
                      	}			 	
                      					
                	</select>
                				
            </div>
            </div>
            }
            @if(isRangeSelected){ 
            <div class="col-sm-3">
        <div class="form-group" >
         <label></label>  
         <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit1" name="selectedFile" style="margin-top:26px" value="assignCalls">Assign Calls</button>
     
      </div>
      </div>
           }
       @if(toAssigncall){     
      <div class="col-sm-3">   
      <div class="form-group">
       <label>From Date :</label>    
      <input type="text-primary" class="datepicker form-control" id="singleData" name="singleData" value="@fromDateValue" readonly>
      </div>
      </div>
      }
      @if(toAssigncall){
      <div class="col-sm-3">   
      <div class="form-group">   
      <label>To Date :</label>    
      <input type="text-primary" class="datepicker form-control" id="tranferData" name="tranferData" value="@toDateValue" readonly>       
     	</div>
      </div>
      }
	    </div>   
              
        <div class="row">
	  @if(toAssigncall){
          <div class="col-md-3 locationSelect" >
                                           
            <label for="cityName">Select City</label>
            <select class="form-control" id="city" name="cityName" onchange="ajaxCallToLoadWorkShopByCity();">	
               <option value='select'>--Select City--</option>
                 @for(location_list<-locationList){
               <option value="@location_list.getName()">@location_list.getName()</option>
                   }
            </select>

                                          
          </div>
          <div class="col-md-3 workshopSel">
            
                  <label for="workshopId">Select Location</label>
                  <select class="form-control" id="workshop" name="workshopId" >					  
                     <option value=""></option>
                  </select>
             		 
          </div>
      } 
	  
	   @if(toAssigncall){
     	<div class="col-sm-3">
        <div class="form-group" >
        <button type="submit" id="js-upload-submit" name="selectedFile" class="btn btn-sm btn-primary viewAssignCalls" style="margin-top:26px" value="viewAssignCalls">View Calls</button>
     
      </div>
      </div>
           }
	   </div>
	   </div>      
           
           
        </div>
          

<div class="row">
      <div class="col-lg-12">
        <div class="panel panel-success">
          <div class="panel-heading"> List Of  Calls To Assign</div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="dataTable_wrapper">
              <table class="table table-striped table-bordered table-hover" id="dataTables-example25">
                <thead>
                  <tr>
                  								<th>Campaign</th>
                                             	<th>Customer Name</th>
                                             	<th>Phone</th>
                                             	<th>RegNo.</th>  
                                             	<th>Chassis No</th>                                             
                                                <th>Policy Due Month</th>
                                                <th>Policy Due Date</th>
                                                <th>Next Renewal Type</th>
                                                <th>Last Insurance Company</th>
                                    
                                    
                  </tr>
                </thead>
                <tbody>
               
                  
                  		
                             @for(post<-filteredData){
                               <tr >
                  				<td>@post.getCampaign()</td>
                   				<td>@post.getCustomerName()</td>
                              	<td>@post.getPhone()</td>                              	
                              	<td>@post.getRegNo()</td>
                              	<td>@post.getChassisNo()</td>
                                <td>@post.getPolicyDueMonth()</td>                                
                                <td>@post.getPolicyDueDate</td>   
                                <td>@post.getNextRenewalType()</td>
                                <td>@post.getLastInsuranceCompany()</td>                         	
                             
                                
                              	</tr>
                              	
                              	
                  }                 
                   
                  
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.panel-body --> 
        </div>
        <!-- /.panel --> 
      </div>
      <!-- /.col-lg-12 --> 
    </div>

}
}
