
@(fromDateValue:String,toDateValue:String,user:String,dealerName:String,allCRE:List[String],allDisposition:List[CallDispositionData],locations:List[String])

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {

<input type="hidden" name="fromDateToAss" value="@fromDateValue">
<input type="hidden" name="toDateToAss" value="@toDateValue">
<div class="panel panel-primary">
        <div class="panel-heading"><strong>Select Date Range To view Call Interactions</strong></div>
        <div class="panel-body"> 
             @helper.form(action = routes.AllCallInteractionController.downloadCallHistoryReport) {
  <div class="row">
  <div class="col-md-2">   
      <div class="form-group">
        
<label>Call Date From :<span style="color:red">*</span></label>    
	   
		<input type="text" class="form-control datepickerFilter" placeholder="Enter Call Date From" id="frombilldaterange" name="frombilldaterange" readonly>
      </div>
      </div>
  
   <div class="col-md-2">   
      <div class="form-group">   
       <label>Call Date To :<span style="color:red">*</span></label>    
					<input type="text" class="form-control datepickerFilter" placeholder="Enter Call Date To"  id="tobilldaterange" name="tobilldaterange" readonly>
     	</div>
      </div>

   
        <div class="col-md-2">
   
                    <label>Select Location :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="location"  name="locations[]" class="selectpicker  form-control" onchange="workshopsBasedOnLocations(this);" required> 
    	                       	     
                     	@for(data3 <- locations){                       	                         
                    
                        <option value="@data3">@data3</option>
                      	
                      	}	  	
                    	</select>	
                    	<span type="label" id="locationERR" style="color:red"></span>	
           
      </div>
       </div>
       
       <div class="col-md-2">
   
                    <label>Select Workshops :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="workshopname"  name="workshopname[]" class="form-control" onchange="cresBasedOnLocations(this);"  required> 
    	                       	     
                     	  	
                    	</select>
                    	
           
      </div>
       </div>
       
        <div class="col-md-2">
   
                    <label>Select CRE's :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="crename"  name="crename[]" class="form-control"  required> 
    	                       	     
                     	  	
                    	</select>
                    	<span type="label" id="crenameERR" style="color:red"></span>	
           
      </div>
       </div>
       <div class="col-md-2">
                    <label>Select Dispositions :</label>
                     <div class="form-group">
    			<select  multiple="multiple" id="all_dispositions" name="all_dispositions" class="selectpicker form-control" >
    					                       			    
                     	@for(data2 <- allDisposition){                      	                         
                    
                        <option value="@data2.getId()">@data2.getDisposition()</option>
                      				
                      	}			 	
                      					
                	</select>
                				
            </div>
             </div>
        
</div>
<div class="col-md-12">
  <div class="form-group pull-right">
  		<button type="button" name="selectedFile" class="btn btn-sm btn-primary viewCallsforReports" value="viewCalls"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;View Calls</button>		     	
  		 <button type="submit" name="downloadFile" class="btn btn-sm btn-warning"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download</button>
		</div>
</div> 
  </div>
 
  }
  </div>      
<span type="label" id="viewCallsERR" style="color:red"></span>
<div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading"><b> List Of  Call Interactions</b>
          </div>
          <div class="panel-body" style="overflow:auto">
          <table class="table table-striped table-bordered table-hover"
						id="datatableCallIntraction">
						<thead>
							<tr>

								<th>Location</th> 
                                    <th>CRE Name</th> 
                                    <th>Call Time</th>                                   
                                    <th>Call Date</th>
                                    <th>Preferred ContactNo</th>
                                    <th>Call Type</th>
                                    <th>Customer Name</th>
                                    <th>DOB</th>
                                    <th>Office Address</th>
                                    <th>Residential Address</th>
                                    <th>Permanent Address</th>
                                    <th>Email</th>
                                    <th>Customer Category</th>
                                    <th>Customer City</th>
                                    <th>Call Duration</th>
                                    <th>Customer Remarks</th>
                                    <th>Vehicle RegNo</th>
                                    <th>Chassis No</th>
                                    <th>Model</th>
                                    <th>Fuel Type</th>
                                    <th>Variant</th>
                                    <th>Last Service Date</th>
                                    <th>Last Service Type</th>
                                    <th>Next Service Date</th>
                                    <th>Next Service Type</th>
                                    <th>Forecast Logic</th>
                                    <th>Previous Disposition</th>
                                    <th>Primary Disposition</th>
                                    <th>Secondary Disposition</th>
                                    <th>Tertiary Disposition</th>
                                    <th>Service Type</th>
                                    <th>PSF Status</th>
                                    <th>Calling data type</th>
                                    <th>Type of Pickup</th>
                                    <th>Time of PickUp</th>
                                    <th>Up to</th>
                                    <th>Driver</th>
                                    <th>Service Advisor</th>
                                    <th>Upsell Type</th>
                                    <th>Assigned Date</th>
                                    <th>Is Call initiated</th>


							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
                     
          </div>
          <!-- /.panel-body --> 
        </div>
        <!-- /.panel --> 
      </div>
      <!-- /.col-lg-12 --> 
    </div>
}
	
<script>
$(document).ready(function () {
	$('.viewCallsforReports').click(function(){
    	
        var fromDate     = $("#frombilldaterange").val();
        var toDate       = $("#tobilldaterange").val();
       
              
        var UserIds="",j,k;
        var dispositions="";
        var location ="";
        var workshop = "";
        
        myOption = document.getElementById('crename');
        console.log("here"+myOption);		        
    for (j=0;j<myOption.options.length;j++){
        if(myOption.options[j].selected){
            if(myOption.options[j].value != "Select"){
        		UserIds = UserIds + myOption.options[j].value + ",";
            }else{
				UserIds ="";
            }
        }
    }
    	if(UserIds.length > 0){
        	UserIds = UserIds.substring(0, UserIds.length - 1);
        	
    	}else{
    		UserIds="";
    	}

    	mydispo = document.getElementById('all_dispositions');
        console.log("here"+mydispo);
    	 for (j=0;j<mydispo.options.length;j++){
    	        if(mydispo.options[j].selected){
    	            if(mydispo.options[j].value != "Select"){
    	        		dispositions = dispositions + mydispo.options[j].value + ",";
    	            }else{
						dispositions ="";

    	            }
        	            
    	        }
    	    }	   	
    	 if(dispositions.length > 0){
    		 dispositions = dispositions.substring(0, dispositions.length - 1);
         	
     	}else{
     		dispositions="";
     	}


    	 myloc = document.getElementById('all_dispositions');
         console.log("here"+myloc);
     	 for (j=0;j<myloc.options.length;j++){
     	        if(myloc.options[j].selected){
     	            if(myloc.options[j].value != "Select"){
     	        		locations = location + myloc.options[j].value + ",";
     	            }else{
						locations ="";
     	            }
     	        }
     	    }	   	
     	 if(location.length > 0){
     		 locations = location.substring(0, myloc.length - 1);
          	
      	}else{
      		locations="";
      	}

     	 myworkshop = document.getElementById('workshopname');
         console.log("here"+myworkshop);
     	 for (j=0;j<myworkshop.options.length;j++){
     	        if(myworkshop.options[j].selected){
     	            if(myworkshop.options[j].value != "Select"){
     	        		workshop = workshop + myworkshop.options[j].value + ",";
     	        		
     	            }else{
     	        		workshop = "";
         	            
     	            }
     	        }
     	    }	   	
     	 if(workshop.length > 0){
     		 workshop = workshop.substring(0, myworkshop.length - 1);
          	
      	}else{
      		workshop="";
      	}
     	var urlLink = "/CREManager/getAllCallHistoryData"
    	    
    	    $('#datatableCallIntraction').dataTable( {
    	     "bDestroy": true,
    	     "processing": true,
    	     "serverSide": true,
    	      "scrollY": 400,
 	        "scrollX": true,
    	     "paging": true,
    	     "searching": false,
    	     "ordering":false,
    	     "ajax": {
    		        'type': 'POST',
    		        'url': urlLink,
    		        'data': {    		        	
    		        	fromDate:''+fromDate,
    		        	toDate:''+toDate ,
    		        	UserIds:''+UserIds,
    		        	dispositions:''+dispositions,
    		        	locations:''+locations,
    		        	workshop:''+workshop,	        	
    		        	
    		        	
    		        }
        	        
    	     },
    	     "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                 $('td', nRow).attr('nowrap','nowrap');
                 return nRow;
                 }
    	 } );


    });
});



</script>
