@(listCity:List[Location],dealerName:String,user:String,allCREHash:Map[Long,String],campaignList :List[Campaign],serviceTypeList :List[ServiceTypes],bookedServiceTypeList:List[String],dispoList:List[CallDispositionData])
@mainPageCREManger("AutoSherpaCRM",user,dealerName) {	



<style>
    td, th {
                
        border: 1px solid black;
        overflow: hidden; 
        text-align:center!important;
    }

</style>
      <div class="row">
        <div class="col-sm-2"> 
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3><div id="creMFreshCallsCountCRE">..</div></h3>
              <p>Fresh Calls</p>
            </div>
            <div class="icon"> <i class="ion-android-call"></i> </div>
             
            <!--<span class="pull-left" data-toggle="modal" data-target=".myModal1">View Details</span>--> 
          </div>
        </div>      <!-- ./col -->
        <div class="col-sm-2 col-half-offset"> 
          <!-- small box -->
          <div class="small-box bg-orange">
            <div class="inner">
              <h3><div id="creMfollowupcountCRE">..</div></h3>
              <p>Pending Follow Ups</p>
            </div>
            <div class="icon"> <i class="ion-android-checkbox-outline"></i> </div>
            </div>
        </div>        <!-- ./col -->
        <div class="col-sm-2 col-half-offset"> 
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3><div id="creMnonContactsCRE">..</div></h3>
              <p> Non Contacts </p>
            </div>
            <div class="icon"> <i class="ion-person-add"></i> </div>
             </div>
        </div>        <!-- ./col -->
        <div class="col-sm-2 col-half-offset"> 
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3><div id="creMoverDueCountCRE">..</div></h3>
              <p>Over Due Bookings</p>
            </div>
            <div class="icon"> <i class="ion-android-download"></i> </div>
             </div>
        </div> 
       <!-- <div class="col-sm-2 col-half-offset"> 
          
          <div class="small-box bg-green">
            <div class="inner">
              <h3><div id="creMDailyPerCountCRE">../..</div></h3>
              <p>Bookings/Total Calls/Day</p>
            </div>
            <div class="icon"> <i class="ion-android-download"></i> </div>
             </div>
        </div> -->
        
        <div class="col-sm-2 col-half-offset"> 
          <!-- small box -->
          <div class="small-box bg-yellow" style="height: 102px;">
             <div class="row"  style="margin-left:4px">
   <div class=" col-sm-12 col-xs-12">
                 
                 <h4><span id="creMTotalBookingsperDay" style="font-size: 22px; font-weight: bold;"></span>&nbsp;&nbsp;&nbsp;&nbsp;Booking</h4>
  </div>
  </div>
  <p style="border-bottom:4px solid white;width:55px; margin-left:4px"></p>
 <div class="row" style="position:absolute;margin-top:-12px; margin-left:4px">
   <div class="col-sm-12 col-xs-12">
                 
                  <h4><span id="creMTotalCallsperDay" style="font-size: 22px; font-weight: bold;"></span> &nbsp;&nbsp;&nbsp;&nbsp;Total Calls</h4>
</div></div>
 <div class="pull-left" style="margin-left: 100px; position: absolute; margin-top: 20px;" id="creMCurrentdate">...</div>
 
           
          </div>
        </div>
        
        
        
               <!-- ./col --> 
      </div> 
 
  <div>

        <div class="panel panel-primary">
            <div class="panel-heading">   
                Scheduled Call Log Information </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab" id="Tab1" onclick="assignedInteractionDataMR();">Scheduled</a> </li>
                    <li><a href="#profile" data-toggle="tab" id="Tab2" onclick="ajaxCallForFollowUpRequiredServerMR();">Follow Up Required</a> </li>
                    <li><a href="#messages" data-toggle="tab" id="Tab3" onclick="ajaxCallForserviceBookedServerDataMR();">Service Booked</a> </li>
                    <li><a href="#settings" data-toggle="tab" id="Tab4" onclick="ajaxCallForServiceNotRequiredServerMR();" >Service Not Required</a> </li>
                    <li><a href="#nonContacts" data-toggle="tab" id="Tab5" onclick="ajaxCallForNonContactsServerMR();">Non Contacts</a> </li>
                    <li><a href="#droppedBuc" data-toggle="tab" id="Tab6" onclick="ajaxCallFordroppedCallsServerDataMR();">Dropped</a> </li>
					<li><a href="#missedCallBuc" data-toggle="tab" id="Tab7" onclick="ajaxCallMissedCallsServerDataMR();">Missed Calls</a> </li>
                    <li><a href="#incomingCallBuc" data-toggle="tab" id="Tab8" onclick="ajaxCallForincomingCallsServerDataMR();">Incoming Calls</a> </li>  
                    <li><a href="#outgoingCallBuc" data-toggle="tab" id="Tab9" onclick="ajaxCallForOutgoingCallBucCallsServerDataMR();">Outgoing Calls</a> </li>
                    
                </ul>
                <div class="tab-content">
                <div class="panel panel-default" style="border-top: #fff;">
				<div class="panel-body">
                <div class="row">
		<div class="col-md-2" id="cityDiv">
		<div class="form-group">
                <label>City </label>
               
               <select class="form-control" id="city" name="cityName" onchange="ajaxCallToLoadWorkShopByCity();"> 
                <option value='--Select--'>--Select--</option>
                
				@for(city <- listCity){                  	                         
                    <option value="@city.getName()">@city.getName()</option>
                    }
                </select>
</div>
            </div> 
			<div class="col-md-2" id="workshopDiv">
			<div class="form-group">
                <label>WorkShop Location </label>               
                <select class="form-control" id="workshop" name="workshopId" onchange="ajaxCallToLoadCRESByWorkshop();">                 			    
                

                </select>
			</div>
            </div> 
		
            <div class="col-md-2" id="cresDiv">
			 <label>Select CRE's </label>
			<div class="form-group">
              <select class="selectpicker filter form-control" data-column-index="7" id="ddlCreIds" name="ddlCreIds" multiple>
                
                    
                </select> 
</div>


            </div>
            
                <div class="col-md-2 tab-pane" id="campaignDiv">
                                
                                <label>Select Campaign</label>
						<select class="filter form-control" id="campaignName" data-column-index="0" name="campaignName">
							<option value="0" >--Select--</option>
							@for(campaign_List<-campaignList){
		                                <option value="@campaign_List.getCampaignName()">@campaign_List.getCampaignName()</option>
		                             }
		                                
						</select>
					</div>
					
					<div class="col-md-2" id="fromDateDiv">
					<label>From Date : </label>
					<input type="text" class="filter form-control datepickerFilter" data-column-index="1" id="fromduedaterange" name="fromduedaterange" readonly>
				  </div>
				  <div class="col-md-2" id="toDateDiv">
					<label>To Date : </label>
					<input type="text" class="filter form-control datepickerFilter" data-column-index="2" id="toduedaterange" name="toduedaterange" readonly>
				  </div>
				  </div>
				  <div class="row">
				   
						<div class="col-md-2" id="serviceTypeDiv">
					
			
						<label>Select service type</label>
						<select class="filter form-control" id="ServiceTypeName" data-column-index="3" name="ServiceTypeName">
							<option value="0" >--Select--</option>
							@for(serviceType_List<-serviceTypeList){
			                                <option value="@serviceType_List.getServiceTypeName()">@serviceType_List.getServiceTypeName()</option>
			                             }
			                                
						</select>
					</div>
					 
					<div class="col-md-2" id="serviceBookTypeDiv" style="display:none">						
					<label>Select Booked service type</label>
						<select class="filter form-control" id="serviceBookedType" data-column-index="4" name="serviceBookedType">
							<option value="0" >--Select--</option>
							@for(bookedServiceType_List<-bookedServiceTypeList){
 <option value="@bookedServiceType_List">@bookedServiceType_List</option>					                   
           }
					                                
						</select>
					</div>
					<div class="col-md-2" id="lastDispoTypeDiv" style="display:none">						
					<label>Last Disposition</label>
						<select class="filter form-control" id="lastDispo" data-column-index="5" >
							<option value="0" >--Select--</option>
								@for(dispo <- dispoList){
			<option value="@dispo.getDisposition()">@dispo.getDisposition()</option>
			
		}
							
					                                
						</select>
					</div>
					<div class="col-md-2" id="droppedcountDiv" style="display:none">						
					<label>Dropped Count</label>
						<select class="filter form-control" id="droppedCount" data-column-index="6">
							<option value="0" >--Select--</option>
							<option value="1" >1</option>
							<option value="2" >2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							
					                                
						</select>
					</div>
				</div>
				</div>
				</div>
                
                    <div class="panel panel-default tab-pane fade in active" id="home">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                <div >
                                    <table class="table table-striped table-bordered table-hover" id="assignedInteractionTableMR" width="100%">
                                        <thead>
                                            <tr> 

                                             <th>Customer Name</th>
                                                <th>RegNo.</th>
                                                <th>Model</th> 
                                                <th>Category</th>
                                                <th>Loyalty</th>
                                                <th>DueDate</th>
                                                <th>Type</th>
                                                <th>Forecast </th>
                                                <th>PSFStatus</th>
                                                <th>DND</th>
                                                <th>Complaint</th>
                                                <th>CRE Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>								
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default tab-pane fade" id="profile">
                        <div class="panel-body inf-content">
                            <div class="dataTable_wrapper">                            
                                <div >
                                    <table class="table table-striped table-bordered table-hover" id="followUpRequiredServerDataMR" width="100%">
                                        <thead>
                                         <tr> 
                                          		<th>Campaign Name</th>
                                          		<th>Call Date</th>
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>                                                                   
                                                <th>Vehicle RegNo.</th>
                                                <th>Service Due</th>
                                                <th>CRE Name</th>
                                                <th>FollowUp Date</th>                                    
                                                <th>FollowUp Time</th>
                                                <th>Last Disposition</th>
												<th>Is Call Initiated</th>         
                                               <!--  <th>Download Media</th> -->
                                            </tr>   
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default tab-pane fade" id="messages">
                        <div class="panel-body inf-content">
                            <div class="dataTable_wrapper">                            
                                <div >
                                    <table class="table table-striped table-bordered table-hover" id="serviceBookedServerDataMR" width="100%">
                                        <thead>
                                            <tr> 
                                            	<th>Campaign Name</th>
                                            	<th>Call Date</th>
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                                <th>Service Due</th>
                                                <th>CRE Name</th>
                                                <th>Service ScheduledDate</th>  
                                                <th>Service ScheduledTime</th>  
                                                <th>Booking Status</th>
												<th>Is Call Initiated</th>
                                                <!--  <th>Download Media</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default tab-pane fade" id="settings">
                         <div class="panel-body inf-content">
                        <div class="dataTable_wrapper">                            
                            <div >
                                <table class="table table-striped table-bordered table-hover" id="serviceNotRequiredServerDataMR" width="100%">
                                    <thead>
                                        <tr> 
                                        	<th>Campaign Name</th>
                                        	<th>Call Date</th>             	
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>
                                            <th>Service Due</th>
                                            <th>CRE Name</th>
                                            <th>Last Disposition</th>
                                            <th>Reason</th>
                                           <!--  <th>Download Media</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div><!--End tab panel-->
                    <div class="panel panel-default tab-pane fade " id="nonContacts">
                        <div class="panel-body inf-content"> 
                            <div >
                                <table class="table table-striped table-bordered table-hover" id="nonContactsServerDataMR" width="100%">
                                    <thead>
                                        <tr> 
                                        <th>Campaign Name</th>
                                        <th>Call Date</th>                         
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>
                                            <th>Service Due</th>
                                            <th>CRE Name</th>
                                            <th>Last Disposition</th>
                                            <th>Is Call Initiated</th>         											
                                         <!--  <th>Download Media</th> -->   
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default tab-pane fade" id="droppedBuc">
                        <div class="panel-body inf-content">
                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                                    <table class="table table-striped table-bordered table-hover" id="droppedCallsServerDataMR">
                                        <thead>
                                            <tr>
                                            	<th>Campaign Name</th> 
                                            	<th>Call Date</th>
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                                <th>Service Due</th>
                                                <th>CRE Name</th>
												<th>Is Call Initiated</th>         
                                                <th>Last Disposition</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
					 <div class="panel panel-default tab-pane fade" id="missedCallBuc">
                        <div class="panel-body inf-content">
                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                                    <table class="table table-striped table-bordered table-hover" id="missedCallsServerDataMR" width="100%">
                                        <thead>
                                            <tr>
       											<th>Call Date</th>
                                                <th>Customer Name</th>
                                                <th>Vehicle RegNo.</th>                                               
                                                <th>Mobile Number</th>
                                                <th>CRE Name</th>
                                                <!--  <th>Download Media</th> -->
                                                
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default tab-pane fade" id="incomingCallBuc">
                        <div class="panel-body inf-content">
                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                                    <table class="table table-striped table-bordered table-hover" id="incomingCallsServerDataMR" width="100%">
                                        <thead>
                                            <tr>
                                            	<th>Call Date</th>
                                                <th>Customer Name</th>
                                                <th>Vehicle RegNo.</th>                                                
                                                <th>Mobile Number</th>
                                                <th>CRE Name</th>
                                               <!--  <th>Download Media</th> -->
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default tab-pane fade" id="outgoingCallBuc">
                        <div class="panel-body inf-content">
                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                                    <table class="table table-striped table-bordered table-hover" id="outgoingCallsServerDataMR" width="100%">
                                        <thead>
                                            <tr>
                                            	<th>Call Date</th>
                                                <th>Customer Name</th>
                                                <th>Vehicle RegNo.</th>                                                
                                                <th>Mobile Number</th>
                                                <th>CRE Name</th>
                                               <!--  <th>Download Media</th> -->
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div><!--End tab content-->
            </div><!--End panel body-->
        </div>
   
</div>
} 
<script>
	 
	var urlDisposition = "/CREManager/dashboardCounts";

	
		
    $.ajax({
        url: urlDisposition

    }).done(function (insdashboardCount) {
    	       
     var dateis = GetFormattedDate();
	
	 console.log("dateis : "+dateis);
	 	
       $("#creMCurrentdate").html(dateis);  
    	
  	  var dashCount = insdashboardCount;
  		 $("#creMFreshCallsCountCRE").html(dashCount[0]);
  		 $("#creMfollowupcountCRE").html(dashCount[1]);
  	     $("#creMnonContactsCRE").html(dashCount[2]);
  	     $("#creMoverDueCountCRE").html(dashCount[3])
  	     $("#creMTotalBookingsperDay").html(dashCount[4]);
  	   	 $("#creMTotalCallsperDay").html(dashCount[5]);
    });



</script>
<script type="text/javascript"> 

function assignedInteractionDataMR(){
    // alert("server side data load");
    document.getElementById("cresDiv").style.display = "block";
	document.getElementById("workshopDiv").style.display = "block";
	document.getElementById("cityDiv").style.display = "block";	
	document.getElementById("campaignDiv").style.display = "block";
    document.getElementById("serviceBookTypeDiv").style.display = "none";
    document.getElementById("serviceTypeDiv").style.display = "block";
    document.getElementById("fromDateDiv").style.display = "block";
	document.getElementById("toDateDiv").style.display = "block";
	document.getElementById("lastDispoTypeDiv").style.display = "none";
	document.getElementById("droppedcountDiv").style.display = "none";

    var UserIds="",i;
    myOption = document.getElementById('ddlCreIds');
    
for (i=0;i<myOption.options.length;i++){
    if(myOption.options[i].selected){
        if(myOption.options[i].value != "--Select--"){
    	 UserIds = UserIds + myOption.options[i].value + ",";
        }
    }
}
if(UserIds.length > 0){
    	UserIds = UserIds.substring(0, UserIds.length - 1);
}
else{
UserIds="Select";
}
    var ajaxUrl = "/assignedInteractionTableDataMR/"+UserIds+"";
    
    
    var table= $('#assignedInteractionTableMR').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		 "scrollX": true,
        "paging": true,
        "searching":true,
        "ordering":false,	
        "ajax": ajaxUrl,
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
    } );

    FilterOptionDataMR(table);
    
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
      $($.fn.dataTable.tables(true)).DataTable()
         .columns.adjust();
   });
    
    }




function ajaxCallForFollowUpRequiredServerMR(){
	document.getElementById("cresDiv").style.display = "block";
	document.getElementById("workshopDiv").style.display = "block";
	document.getElementById("cityDiv").style.display = "block";	
	document.getElementById("campaignDiv").style.display = "block";
	document.getElementById("serviceBookTypeDiv").style.display = "none";
	document.getElementById("serviceTypeDiv").style.display = "block";
	document.getElementById("fromDateDiv").style.display = "block";
	document.getElementById("toDateDiv").style.display = "block";
	document.getElementById("lastDispoTypeDiv").style.display = "none";
	document.getElementById("droppedcountDiv").style.display = "none";
	          

	    var UserIds="",i;
	    myOption = document.getElementById('ddlCreIds');
	    
	for (i=0;i<myOption.options.length;i++){
	    if(myOption.options[i].selected){
	        if(myOption.options[i].value != "--Select--"){
	    	 UserIds = UserIds + myOption.options[i].value + ",";
	        }
	    }
	}
	if(UserIds.length > 0){
	    	UserIds = UserIds.substring(0, UserIds.length - 1);
	}
	else{
	UserIds="Select";
	}
	    var ajaxUrl = "/followUpCallLogTableDataMR/"+UserIds+"";
	    
	    
	    var table= $('#followUpRequiredServerDataMR').dataTable( {
	        "bDestroy": true,
	        "processing": true,
	        "serverSide": true,
	        "scrollY": 300,
			 "scrollX": true,
	        "paging": true,
	        "searching":true,
	        "ordering":false,	
	        "ajax": ajaxUrl,
			"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
	    } );

	    FilterOptionDataMR(table);
	    
	}


function ajaxCallForserviceBookedServerDataMR(){
	document.getElementById("cresDiv").style.display = "block";
	document.getElementById("workshopDiv").style.display = "block";
	document.getElementById("cityDiv").style.display = "block";	
	document.getElementById("campaignDiv").style.display = "block";
	document.getElementById("serviceBookTypeDiv").style.display = "block";
	document.getElementById("serviceTypeDiv").style.display = "none";
	document.getElementById("fromDateDiv").style.display = "block";
	document.getElementById("toDateDiv").style.display = "block";
	document.getElementById("lastDispoTypeDiv").style.display = "none";
	document.getElementById("droppedcountDiv").style.display = "none";

	          

	    var UserIds="",i;
	    myOption = document.getElementById('ddlCreIds');
	    
	for (i=0;i<myOption.options.length;i++){
	    if(myOption.options[i].selected){
	        if(myOption.options[i].value != "--Select--"){
	    	 UserIds = UserIds + myOption.options[i].value + ",";
	        }
	    }
	}
	if(UserIds.length > 0){
	    	UserIds = UserIds.substring(0, UserIds.length - 1);
	}
	else{
	UserIds="Select";
	}
	    var ajaxUrl = "/serviceBookedServerDataTableMR/"+UserIds+"";
	    
	    
	    var table= $('#serviceBookedServerDataMR').dataTable( {
	        "bDestroy": true,
	        "processing": true,
	        "serverSide": true,
	        "scrollY": 300,
			 "scrollX": true,
	        "paging": true,
	        "searching":true,
	        "ordering":false,	
	        "ajax": ajaxUrl,
			"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
	    } );

	    FilterOptionDataMR(table);
	    
	   	    
	    }

function ajaxCallForNonContactsServerMR(){
	//alert("noncontact");
	
		document.getElementById("cresDiv").style.display = "block";
		document.getElementById("workshopDiv").style.display = "block";
		document.getElementById("cityDiv").style.display = "block";	
		document.getElementById("campaignDiv").style.display = "block";
		document.getElementById("serviceBookTypeDiv").style.display = "none";
		document.getElementById("serviceTypeDiv").style.display = "none";
		document.getElementById("fromDateDiv").style.display = "block";
		document.getElementById("toDateDiv").style.display = "block";
		document.getElementById("lastDispoTypeDiv").style.display = "block";
		document.getElementById("droppedcountDiv").style.display = "block";

	var UserIds="",i;
    myOption = document.getElementById('ddlCreIds');
    
for (i=0;i<myOption.options.length;i++){
    if(myOption.options[i].selected){
        if(myOption.options[i].value != "Select"){
    		UserIds = UserIds + myOption.options[i].value + ",";
        }
    }
}
	if(UserIds.length > 0){
    	UserIds = UserIds.substring(0, UserIds.length - 1);
	}
	else{
		UserIds="Select";
	}
    var ajaxUrl = "/nonContactsServerDataTableMR/"+UserIds
     
    var table = $('#nonContactsServerDataMR').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		 "scrollX": true,
        "paging": true,
        "searching":true,
        "ordering":false,			
        "ajax": ajaxUrl,
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
    } );

    FilterOptionDataMR(table);
    
    }





function ajaxCallForServiceNotRequiredServerMR(){
	//alert("servicenot required");
	
	document.getElementById("cresDiv").style.display = "block";
	document.getElementById("workshopDiv").style.display = "block";
	document.getElementById("cityDiv").style.display = "block";	
	document.getElementById("campaignDiv").style.display = "block";
	document.getElementById("serviceBookTypeDiv").style.display = "none";
	document.getElementById("serviceTypeDiv").style.display = "none";
	document.getElementById("fromDateDiv").style.display = "none";
	document.getElementById("toDateDiv").style.display = "none";
	document.getElementById("lastDispoTypeDiv").style.display = "none";
	document.getElementById("droppedcountDiv").style.display = "none";

	var UserIds="",i;
    myOption = document.getElementById('ddlCreIds');
    
for (i=0;i<myOption.options.length;i++){
    if(myOption.options[i].selected){
        if(myOption.options[i].value != "Select"){
    		UserIds = UserIds + myOption.options[i].value + ",";
        }
    }
}
	if(UserIds.length > 0){
    	UserIds = UserIds.substring(0, UserIds.length - 1);
	}
	else{
		UserIds="Select";
	}
    var ajaxUrl = "/serviceNotRequiredServerDataTableMR/"+UserIds
     
    var table= $('#serviceNotRequiredServerDataMR').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching":true,
        "ordering":false,			
        "ajax": ajaxUrl,
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
    } );

    FilterOptionDataMR(table);
    
    }

function ajaxCallFordroppedCallsServerDataMR(){
	document.getElementById("cresDiv").style.display = "block";
	document.getElementById("workshopDiv").style.display = "block";
	document.getElementById("cityDiv").style.display = "block";	
	document.getElementById("campaignDiv").style.display = "none";
	document.getElementById("serviceBookTypeDiv").style.display = "none";
	document.getElementById("serviceTypeDiv").style.display = "none";
	document.getElementById("fromDateDiv").style.display = "none";
	document.getElementById("toDateDiv").style.display = "none";
	document.getElementById("lastDispoTypeDiv").style.display = "none";
	document.getElementById("droppedcountDiv").style.display = "none";


	    var UserIds="",i;
	    myOption = document.getElementById('ddlCreIds');
	    
	for (i=0;i<myOption.options.length;i++){
	    if(myOption.options[i].selected){
	        if(myOption.options[i].value != "--Select--"){
	    	 UserIds = UserIds + myOption.options[i].value + ",";
	        }
	    }
	}
	if(UserIds.length > 0){
	    	UserIds = UserIds.substring(0, UserIds.length - 1);
	}
	else{
	UserIds="Select";
	}
	    var ajaxUrl = "/droppedCallsServerDataTableMR/"+UserIds+"";
	    
	    
	    var table= $('#droppedCallsServerDataMR').dataTable( {
	        "bDestroy": true,
	        "processing": true,
	        "serverSide": true,
	        "scrollY": 300,
			 "scrollX": true,
	        "paging": true,
	        "searching":true,
	        "ordering":false,	
	        "ajax": ajaxUrl,
			"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
	    } );

	    FilterOptionDataMR(table);
	   
	    
	}
function ajaxCallMissedCallsServerDataMR(){
	document.getElementById("cresDiv").style.display = "block";
	document.getElementById("workshopDiv").style.display = "block";
	document.getElementById("cityDiv").style.display = "block";	
	document.getElementById("campaignDiv").style.display = "none";
	document.getElementById("serviceBookTypeDiv").style.display = "none";
	document.getElementById("serviceTypeDiv").style.display = "none";
	document.getElementById("fromDateDiv").style.display = "block";
	document.getElementById("toDateDiv").style.display = "block";
	document.getElementById("lastDispoTypeDiv").style.display = "none";
	document.getElementById("droppedcountDiv").style.display = "none";


	    var UserIds="",i;
	    myOption = document.getElementById('ddlCreIds');
	    
	for (i=0;i<myOption.options.length;i++){
	    if(myOption.options[i].selected){
	        if(myOption.options[i].value != "--Select--"){
	    	 UserIds = UserIds + myOption.options[i].value + ",";
	        }
	    }
	}
	if(UserIds.length > 0){
	    	UserIds = UserIds.substring(0, UserIds.length - 1);
	}
	else{
	UserIds="Select";
	}
	    var ajaxUrl = "/missedCallsServerDataTableMR/"+UserIds+"";
	    
	    
	    var table= $('#missedCallsServerDataMR').dataTable( {
	        "bDestroy": true,
	        "processing": true,
	        "serverSide": true,
	        "scrollY": 300,
			 "scrollX": true,
	        "paging": true,
	        "searching":true,
	        "ordering":false,	
	        "ajax": ajaxUrl,
			"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
	    } );

	    FilterOptionDataMR(table);
	   
	    
	}

function ajaxCallForincomingCallsServerDataMR(){
	document.getElementById("cresDiv").style.display = "block";
	document.getElementById("workshopDiv").style.display = "block";
	document.getElementById("cityDiv").style.display = "block";	
	document.getElementById("campaignDiv").style.display = "none";
	document.getElementById("serviceBookTypeDiv").style.display = "none";
	document.getElementById("serviceTypeDiv").style.display = "none";
	document.getElementById("fromDateDiv").style.display = "block";
	document.getElementById("toDateDiv").style.display = "block";
	document.getElementById("lastDispoTypeDiv").style.display = "none";
	document.getElementById("droppedcountDiv").style.display = "none";


	    var UserIds="",i;
	    myOption = document.getElementById('ddlCreIds');
	    
	for (i=0;i<myOption.options.length;i++){
	    if(myOption.options[i].selected){
	        if(myOption.options[i].value != "--Select--"){
	    	 UserIds = UserIds + myOption.options[i].value + ",";
	        }
	    }
	}
	if(UserIds.length > 0){
	    	UserIds = UserIds.substring(0, UserIds.length - 1);
	}
	else{
	UserIds="Select";
	}
	    var ajaxUrl = "/incomingCallsServerDataTableMR/"+UserIds+"";
	    
	    
	    var table= $('#incomingCallsServerDataMR').dataTable( {
	        "bDestroy": true,
	        "processing": true,
	        "serverSide": true,
	        "scrollY": 300,
			 "scrollX": true,
	        "paging": true,
	        "searching":true,
	        "ordering":false,	
	        "ajax": ajaxUrl,
			"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
	    } );

	    FilterOptionDataMR(table);
	   
	    
	}

function ajaxCallForOutgoingCallBucCallsServerDataMR(){
	document.getElementById("cresDiv").style.display = "block";
	document.getElementById("workshopDiv").style.display = "block";
	document.getElementById("cityDiv").style.display = "block";	
	document.getElementById("campaignDiv").style.display = "none";
	document.getElementById("serviceBookTypeDiv").style.display = "none";
	document.getElementById("serviceTypeDiv").style.display = "none";
	document.getElementById("fromDateDiv").style.display = "block";
	document.getElementById("toDateDiv").style.display = "block";
	document.getElementById("lastDispoTypeDiv").style.display = "none";
	document.getElementById("droppedcountDiv").style.display = "none";


	    var UserIds="",i;
	    myOption = document.getElementById('ddlCreIds');
	    
	for (i=0;i<myOption.options.length;i++){
	    if(myOption.options[i].selected){
	        if(myOption.options[i].value != "--Select--"){
	    	 UserIds = UserIds + myOption.options[i].value + ",";
	        }
	    }
	}
	if(UserIds.length > 0){
	    	UserIds = UserIds.substring(0, UserIds.length - 1);
	}
	else{
	UserIds="Select";
	}
	    var ajaxUrl = "/outgoingCallsServerDataTableMR/"+UserIds+"";
	    
	    
	    var table= $('#outgoingCallsServerDataMR').dataTable( {
	        "bDestroy": true,
	        "processing": true,
	        "serverSide": true,
	        "scrollY": 300,
			 "scrollX": true,
	        "paging": true,
	        "searching":true,
	        "ordering":false,	
	        "ajax": ajaxUrl,
			"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
	    } );

	    FilterOptionDataMR(table);
	   
}
</script>
<script type="text/javascript">  
function FilterOptionDataMR(table){
	var values = [];
	$('.filter').on('change', function() {
    	console.log("inside filteroptionsdata data");
	    var i= $(this).data('columnIndex');
	    var v = $(this).val();
	    console.log("i : "+i);
		console.log("v length "+v.length);
	    
	    if(v.length>0){
		    
		    if(i == 7){	

		    	var UserIds="",j;
		        myOption = document.getElementById('ddlCreIds');
		        console.log("here"+myOption);		        
		    for (j=0;j<myOption.options.length;j++){
		        if(myOption.options[j].selected){
		            if(myOption.options[j].value != "Select"){
		        		UserIds = UserIds + myOption.options[j].value + ",";
		            }
		        }
		    }
		    	if(UserIds.length > 0){
		        	UserIds = UserIds.substring(0, UserIds.length - 1);
		        	values[7]=UserIds;
		    	}else{
		    		UserIds="Select";
		    		values[7]=UserIds;
		    	}
		    
		    }else{
		    	values[i] = v;
			    }
	
			       
		  
		    }		    
	    
	    	console.log(JSON.stringify(values));	   	
	  	  //clear global search values
	 	  //table.api().search('');
	 	  $(this).data('columnIndex');
	 	 //var table = $('#nonContactsServerDataMR').dataTable();
	 	 if(values.length>0) {
			 for(var i=0;i<values.length;i++){
				 console.log("values[i] : "+values[i]);	
			    table.api().columns(i).search(values[i]);
			 }
			 table.api().draw(); 
		}
	 	
		 	  
	});
	
	
}
</script>

 <script type="text/javascript">
	window.onload = assignedInteractionDataMR();
</script>
    