
@(sourcelist:List[ComplaintSource],listwork:List[Workshop],dealercode:String,dealerName:String,userName:String)

@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {
@helper.form(action = routes.CallInteractionController.postComplaintsByManager) {
<div class="row" >
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">   
        COMPLAINT REGISTRATION FORM </div>
		<div class="panel-body">
        <h4>CUSTOMER DETAILS :</h4>
              <div class="col-lg-3">
               <div class="form-group">
                <label for="vehicleRegNo">Vehicle Number <i style="color:red">*</i></label>
               
                	<div class="input-group">
                              <input type="text" class="form-control" name="vehicleRegNo" maxlength="12"  min="8" max="12" id="vehicleRegNo" autocomplete="off"/>
                              <span class="input-group-addon" data-toggle="modal" data-target="#searchPopup" id="searchveh" onclick="ajaxsearchVehicle();"><i class="fa fa-search"></i> </span>
                      </div>
                          </div>
              </div>
          <div class="col-lg-3">
               <div class="form-group">
                <label for="model">Model <i style="color:red">*</i></label>
                <input type="text" class="form-control" name="model" maxlength="20" id="model" autocomplete="off" />
              </div>
            </div>
       <div class="col-lg-3">
               <div class="form-group">
                <label for="customerName">Customer Name <i style="color:red">*</i></label>
                <input type="text" class="form-control customerNameComplain" name="customerName"  id="customerName" value="" />
              </div>
            </div>
        
      <div class="col-lg-3">             
              <div class="form-group">
                <label for="variant">Variant <i style="color:red">*</i></label>
                <input type="text" class="form-control" name="variant" maxlength="20"  id="variant" autocomplete="off" />
              </div>
            </div>
       
            <div class="col-lg-3">
               <div class="form-group">
                <label for="customerPhone">Customer Phone <i style="color:red">*</i></label>
                <input type="text" class="form-control number-only" name="customerPhone" maxlength="10"   id="customerPhone" autocomplete="off" />
              </div>
            </div>
             <div class="col-lg-3">
              <div class="form-group">
                <label for="saledate">Sale Date <i style="color:red">*</i></label>
               <input type="text"  class="form-control datepickerPrevious" name="saleDate" id="saledate" autocomplete="off" readonly/>
              </div>
            </div>
             <div class="col-lg-3">
              <div class="form-group">
                <label for="email">Email <i style="color:red">*</i></label>
                <input type="text" class="form-control customerEmail" name="emailAddress" id="email" autocomplete="off"/>
              </div>
            </div>
             <div class="col-lg-3">
              <div class="form-group">
                <label for="lastservice">Last Service Date<i style="color:red">*</i></label>
               <input type="text"  class="form-control rangedatepicker" name="lastServiceDate" id="lastservice" autocomplete="off" readonly/>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="address">Address <i style="color:red">*</i></label>
                <textarea type="text" class="form-control" name="addressLine1" rows="1" id="address"></textarea>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="serviceadvisor">Service Advisor <i style="color:red">*</i></label>
                <input type="text" class="form-control" name="serviceadvisor" id="serviceadvisor" autocomplete="off"/>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="chassisno">Chassis No <i style="color:red">*</i></label>
               <input type="text" class="form-control" name="chassisNo"  maxlength="40" id="chassisno" autocomplete="off"/>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="workshop">Workshop <i style="color:red">*</i></label>
              <!--  <input type="text" class="form-control" name="workshop"  maxlength="30" id="workshop" autocomplete="off"/> -->
              <select class="form-control" name="workshop"  maxlength="30" id="workshop">
               
               @for(sa <- listwork){
               <option value="@sa.getWorkshopName()">@sa.getWorkshopName()</option>
               }
               </select>
              </div>
            </div>
            <hr>
              <h4>COMPLAINT INFORMATION:</h4>
                  <div class="col-lg-3">
             <div class="form-group">
                <label for="sname">Source<i style="color:red">*</i></label>
                <select class="form-control" id="sname" name="sourceName">
                    <option value="0">Select Source</option>
                   @for(li <- sourcelist){
                    	
                    	<option value="@li.getComplaintSource()">@li.getComplaintSource()</option>
                    	
                    }
                   
                  </select><span style="color:red;"></span>
             </div>
        </div>
                <div class="col-lg-3">
               <div class="form-group">
                <label for="functame">Function <i style="color:red">*</i></label>
               
                <select class="form-control" id="functame" name="functionName">
                	<option value="0">Select Function</option>                                       
                                        <option value="finance">FINANCE</option>
                                        <option value="insurance">INSURANCE</option>
                                        <option value="parts">PARTS</option>
                                        <option value="product">PRODUCT</option>
                                        <option value="sales">SALES</option>
                                        <option value="usedcarsales">USED CAR SALES</option>
	 </select>
              </div>
            </div>
              
     <div class="col-lg-3 complainCategory" style="display:none">
             <div class="form-group">
                <label for="complaintType">Complaint Type CATEGORY:<i style="color:red">*</i></label>
                <select class="form-control" id="complaintType" name="complaintType">
                    <option value="0">Select Complaint Type</option>
                      <option value="Technical">Technical</option>
                      <option value="Service">Service</option>
                      <option value="Bodyshop">Bodyshop</option>
                  </select><span style="color:red;"></span>
             </div>
        </div>
              
            <div class="col-lg-3 complainSubCategory" style="display:none">
             <div class="form-group">
                <label for="subcomplaintType">Sub CATEGORY:<i style="color:red">*</i></label>
                <select class="form-control" id="subcomplaintType" name="subcomplaintType">
                    <option value="0">Select subComplaint Type</option>
                      <option value="Service">Service</option>
                      <option value="Repair">Repair</option>
                      <option value="Others">Others</option>
                  </select><span style="color:red;"></span>
             </div>
             </div>
                 <div class="col-lg-3">
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea  class="form-control" name="description" id="description" autocomplete="off"></textarea>
              </div>
            </div>
              <div class="col-lg-12">                  
             <div class='text-right'>
                <input type="submit" class="btn btn-primary"  id="complaintSubmit" value="Submit" />
              </div>
              </div>

             </div>
         </div>
     </div>
</div>
     }
     }
     
     <script>
   
    $(document).ready(function() {
       var stateObject = {
    "AFTERSALES": {
        "Technical": ["Accessories", "Body","Brake","Electrical","Engine","Hvac","Steering","Transmission","Feedback Product"],
        "Service": ["Advisor", "Quality","Sales Related","Spares","Warrantly","Initiation","PickUp","FeedBack-Service"],	
        "Bodyshop": ["Poor WorkManship-Denting,Fitment","Poor WorkManship-Painting","Delay In Delivery","High Repair Charges","Insurance"]
    }
  
}
window.onload = function () {
    var stateSel = document.getElementById("functame"),
        countySel = document.getElementById("complaintType"),
        citySel = document.getElementById("subcomplaintType");
    for (var state in stateObject) {
        stateSel.options[stateSel.options.length] = new Option(state, state);
    }
    stateSel.onchange = function () {
        countySel.length = 1; // remove all options bar first
        citySel.length = 1; // remove all options bar first
        if (this.selectedIndex < 1) return; // done   
        for (var county in stateObject[this.value]) {
            countySel.options[countySel.options.length] = new Option(county, county);
        }
    }
    stateSel.onchange(); // reset in case page is reloaded
    countySel.onchange = function () {
        citySel.length = 1; // remove all options bar first
        if (this.selectedIndex < 1) return; // done   
        var cities = stateObject[stateSel.value][this.value];
        for (var i = 0; i < cities.length; i++) {
            citySel.options[citySel.options.length] = new Option(cities[i], cities[i]);
        }
    }
    }
    });
 </script>
      
   