@(dealerName:String,userName:String,dealersData:List[models.Dealer],dealerform:Form[Dealer])
@import models._
@import helper._
@import scala._
@main("AutoSherpaCRM",userName,dealerName) {
@helper.form(action = routes.DealerController.dealerInformation) {

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">List of Dealer Information</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"> List of Dealers </div>
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th colspan="2">Actions</th>
                <th>Dealer Id</th>
                <th>Dealer Name</th>
                <th>Dealer Address</th>
                <th>Dealer Code</th>
              </tr>
            </thead>
            <tbody>
            
            @for(post <- dealersData) {
            <tr>
              <td><a href="/superAdmin/dealer/delete/@post.id"><i class="fa fa-trash-o"></i></a></td>
              <td><a href="/superAdmin/dealer/edit/@post.id"><i class="fa fa-pencil-square-o"></i></a></td>
              <td> @post.dealerId</td>
              <td> @post.dealerName</td>
              <td>@post.dealerAddress</td>
              <td>@post.dealerCode</td>
            </tr>
            }
              </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
        }

}