@(dealerName:String,userName:String,did: Long,editDealerdata:models.Dealer,form:Form[Dealer])
@import models._
@import scala._
@main("AutoSherpaCRM",userName,dealerName) {
@helper.form(routes.DealerController.postEditDealer(did), args= 'class -> "form-horizontal",'enctype -> "multipart/form-data", 'id -> "updateForm")  {

<div class="fluid-container">
 
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Dealer Update </h3>
        </div>
        <div class="panel-body">
          <form class="form-inline">
                  
          <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-6">
                <div class="form-group">
                  <label  for="dealerId">Dealer Id:</label>
                  <input type="text" class="form-control" name="dealerId" value='@{editDealerdata.dealerId}' id="dealerId" autocomplete="off"  />
                </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                  <label for="dealerName">Dealer Name :</label>
                  <input type="text" class="form-control" name="dealerName" value='@{editDealerdata.dealerName}' id="dealerName" autocomplete="off"  />
                </div>
            </div>           
            
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-6">
             <div class="form-group">
                  <label for="dealerAddress">Dealer Address :</label>
                  <input type="text" class="form-control" name="dealerAddress" value='@{editDealerdata.dealerAddress}' id="dealerAddress" autocomplete="off"  />
                </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                  <label for="dealerCode">Dealer Code :</label>
                  <input type="text" class="form-control" name="dealerCode" value='@{editDealerdata.dealerCode}' id="dealerCode" autocomplete="off"  />
                </div>
            </div>
            <div class='text-right'>
                  <input type="submit" onclick="myfunction()" class="btn btn-primary" value="UPDATE" />
                </div>           
            
          </div>
        </div>
          </form>
        </div>
      </div>
   
</div>      
  
        }
        

}