
@(fromDateValue:String,toDateValue:String,user:String,dealerName:String,allUsers:List[String],locations:List[String],campaignListInsurance :List[Campaign])

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {

<input type="hidden" name="fromDateToAss" value="@fromDateValue">
<input type="hidden" name="toDateToAss" value="@toDateValue">
<div class="panel panel-primary">
        <div class="panel-heading"><strong>Select Date Range</strong></div>
        <div class="panel-body"> 
              @helper.form(action = routes.AllCallInteractionController.downloadInsuranceHistoryReport) {
        
  <div class="row">
  <div class="col-md-2">   
      <div class="form-group">
        
<label>Call Date From :<span style="color:red">*</span></label>    
	   
		<input type="text" class="form-control datepickerFilter" placeholder="Enter Call Date From" id="frombilldaterange" name="frombilldaterange" readonly>
      </div>
      </div>
  
   <div class="col-md-2">   
      <div class="form-group">   
       <label>Call Date To :<span style="color:red">*</span></label>    
					<input type="text" class="form-control datepickerFilter" placeholder="Enter Call Date To"  id="tobilldaterange" name="tobilldaterange" readonly>
     	</div>
      </div>
 <div class="col-md-2">
   
                    <label>Select Location :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="location"  name="locations[]" class="selectpicker  form-control" onchange="workshopsBasedOnLocations(this);" required> 
    	                       	     
                     	@for(data3 <- locations){                       	                         
                    
                        <option value="@data3">@data3</option>
                      	
                      	}	  	
                    	</select>	
                    	<span type="label" id="locationERR" style="color:red"></span>	
           
      </div>
       </div>
       
       <div class="col-md-2">
   
                    <label>Select Workshops :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="workshopname"  name="workshopname[]" class="form-control" onchange="cresBasedOnLocations(this);"  required> 
    	                       	     
                     	  	
                    	</select>
                    	
           
      </div>
       </div>
       
        <div class="col-md-2">
   
                    <label>Select CRE's :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="crename"  name="crename[]" class="form-control"  required> 
    	                       	     
                     	  	
                    	</select>
                    	<span type="label" id="crenameERR" style="color:red"></span>	
           
      </div>
       </div>
</div>
<div class="col-md-12">
  <div class="form-group pull-right">
  		<button type="button" name="selectedFile" class="btn btn-sm btn-primary viewInsuranceReports" value="viewInsurance"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;View Insurance History</button>		     	
  		
  		 <button type="submit" name="downloadFile" class="btn btn-sm btn-warning"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download</button>
		</div>
</div> 
  </div>
}

  </div>      
<span type="label" id="viewSMSERR" style="color:red"></span>
<div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading"><b> List Of Insurance History</b>
          </div>
          <div class="panel-body" style="overflow:auto">
          <table class="table table-striped table-bordered table-hover"
						id="datatableInsuranceIntraction">
						<thead>
							<tr>

									<th>CRE Name</th> 
                                    <th>Call Date</th> 
                                    <th>Call Time</th>                                   
                                    <th>Is CallInitiated</th>
                                    <th>Call Type</th>
                                    <th>Call Duration</th>
                                    <th>Ring Time</th>
                                    <th>Campaign Type</th>
                                    <th>Chassis No</th>
                                    <th>Model</th>
                                    <th>Variant</th>
                                    <th>Sale Date</th>
                                    <th>Vehicle Reg No</th>
                                    <th>Customer Name</th>
                                    <th> Preffered Name</th>
                                    <th> Preffered Phone Number</th>
                                    <th>Primary Disposition</th>
                                    <th>Secondary Disposition</th>
                                    <th>Cover Note No</th>
                                    <th>Last Renewal Location</th>
                                    <th>Last Renewal Date</th>
                                    <th>Premium</th>
                                    <th>Renewal Done By</th>
                                    <th>Tertiary Disposition</th>
                                    <th>FollowUp Date</th>
                                    <th> FollowUp Time</th>
                                    <th>RemarksOfFB</th>
                                    <th>DepartmentForFB</th>
                                    <th>Address Of Visit</th>
                                    <th>Appointee Name </th>
                                    <th>Appointment Date</th>
                                    <th>Appointment From Time</th>
                                    <th>DSA</th>
                                    <th>Insurance Agent</th>
                                    <th>Insurance Company</th>
                                    <th>Nominee Name</th>
                                    <th>Nominee Relation With Owner</th> 
                                    <th>Premium With Tax</th>
                                    <th>Renewal Mode</th>
                                    <th>Renewal Type</th>
                                    <th>Type Of PickUp</th>
                                    <th>Premium Yes</th>
                                    <th>Comments</th>
                                    <th>CRE Manager</th>
                           </tr>
						</thead>
						<tbody>

						</tbody>
					</table>
                     
          </div>
          <!-- /.panel-body --> 
        </div>
        <!-- /.panel --> 
      </div>
      <!-- /.col-lg-12 --> 
    </div>
}
	
<script>
$(document).ready(function () {
	$('.viewInsuranceReports').click(function(){
    	
        var fromDate     = $("#frombilldaterange").val();
        var toDate       = $("#tobilldaterange").val();
     	console.log("from date:"+fromDate);
     	console.log("to date:"+toDate);
        var UserIds="",j,k;
        var campaignName="";       
        
        myOption = document.getElementById('crename');
        console.log("here"+myOption);		        
		   for (j=0;j<myOption.options.length;j++){
		       if(myOption.options[j].selected){
		           if(myOption.options[j].value != "Select"){
		       		UserIds = UserIds + myOption.options[j].value + ",";
		           }else{
					UserIds ="";
		           }
		       }
		   }
    	if(UserIds.length > 0){
        	UserIds = UserIds.substring(0, UserIds.length - 1);
        	
    	}else{
    		UserIds="";
    	}

    	campname = document.getElementById('campaignName');
    	 for (j=0;j<campname.options.length;j++){
    	        if(campname.options[j].selected){
    	            if(campname.options[j].value != "Select"){
    	            	campaignName = campaignName + campname.options[j].value + ",";
    	            }else{
    	            	campaignName ="";
    	            }
    	        }
    	    }	   	
    	 if(campaignName.length > 0){
    		 campaignName = campaignName.substring(0, campaignName.length - 1);
         	
     	}else{
     		campaignName="";
     	}



     	console.log("campaign name :"+campaignName);
     	var urlLink = "/CREManager/getAllInsuranceHistoryData"
    	    console.log("url link"+urlLink);
    	    $('#datatableInsuranceIntraction').dataTable( {
    	     "bDestroy": true,
    	     "processing": true,
    	     "serverSide": true,
    	     "scrollY": 400,
 	         "scrollX": true,
    	     "paging": true,
    	     "searching": false,
    	     "ordering":false,
    	     "ajax": {
    		        'type': 'POST',
    		        'url': urlLink,
    		        'data': {    		        	
    		        	fromDate:''+fromDate,
    		        	toDate:''+toDate ,
    		        	UserIds:''+UserIds,
    		        	campaignName:''+campaignName, 		        	
    		        }
        	        
    	     },
    	     "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                 $('td', nRow).attr('nowrap','nowrap');
                 return nRow;
                 }
    	 } );


    });
});
</script>
