

@(dealercode:String,dealerName:String,userName:String,oem:String,smsTemplateList :List[SMSTemplate],msgParameters :List[MessageParameters], savedSearchList :List[SavedSearchResult],getsmsapi:String)

@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {
<link rel="stylesheet" href="@routes.Assets.at("css/gsdk-base.css")">
<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading" style="text-align:center;"><strong>SEARCH CUSTOMER</strong> </div>
    <div class="panel-body">    
      <!---------------------Wizard1----------------------------------------->
      <div class="wizard-container">
        <div class="card wizard-card ct-wizard-green" id="wizard">        
          <!--You can switch "ct-wizard-azzure"  with one of the next bright colors: "ct-wizard-blue", "ct-wizard-green", "ct-wizard-orange", "ct-wizard-red"-->
 <ul>
            <li><a href="#step1" data-toggle="tab" class="tabRound">SEARCH</a></li>
            <li><a href="#step2" data-toggle="tab" class="tabRound">MESSAGE</a></li>
            <li><a href="#step14" data-toggle="tab" class="tabRound">LIST</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane animated  bounceInRight" id="step1">       
              <!-------------------------------Step1------------------------------------->
              <div class="panel panel-primary" >
                <div class="panel-heading" style="text-align:center;">Search</div>
                <div class="panel-body" style="overflow:auto">
				<label class="radio-inline">
				<input type="hidden" id="hiddenSelectAllFlag" value="">
      <input type="radio" name="SearchCust" value="Search Customer">Search Customer
    </label>
    <label class="radio-inline">
     <input type="radio" name="SearchCust" value="Upload Customer">Upload Customer 
    </label> 
				<div style="display:none" id="SarchDivID" class="animated  bounceInRight">
				 <br />
                  <div class="row">
                    <div class="col-md-12">
			
	<a href="/searchByCustomerManager"><button class="btn btn-info" >Create New Search</button></a>
	
  </div>
 
                  </div>
                  </div>
				
<div style="display:none;" id="uploadDivID" class="animated  bounceInRight" >
	 <br />
                   <div class="row">
                    <div class="col-md-12">
				
	<a href="/fileuploadPage"><button class="btn btn-info" >Upload Customer</button></a>
	
	
  
  </div>
  
                  </div>
                  </div>
                  <br />
                  <div class="row" style="display:none" id="getCustomerId" >
                  <div class="col-md-3">
	<div class="form-group">
	<label>Select Saved Search</label>
	<select class="form-control" id="savedName" name="savedName">
		<option value="0" >--Select--</option>
                                @for(savedSearch_List<-savedSearchList){
                                <option value="@savedSearch_List.getId()">@savedSearch_List.getSavedName()</option>
                             }
	</select>
  </div>
  </div>
                  <div class="col-md-4">
				  <div class="form-group"><br />
				  	 <button type="button" id="SearchId" class="btn btn-primary" >Get Customer</button>
				  </div>
				  </div>
				  </div>
				  
				  
				
				    <div class="SearchCustId" style="display:none;" >
					 <div class="panel panel-primary" >
                <div class="panel-heading" style="text-align:center;">Search List </div>
                <div class="panel-body">
      <table class="table table-striped table-bordered table-hover" id="customerSearchTables">
                                    <thead>
                                 <tr>
                                    <th>Customer Name</th>
                                    <th>Vehicle RegNo.</th>
                                    <th>Category</th>                                   
                                    <th>Phone Number</th>                                    
                                    <th>Next Service Date</th>
                                    <th>Model</th>
                                    <th>Variant</th>
                                    <th>Last Disposition</th>
									<th>Select All this <input type="checkbox" id="selectAll"/></th>
                                 </tr>
                              </thead>
                                <tbody>
							
                   </tbody>
           </table>
        </div>
        </div>
        </div>
		<div class="UploadCustIdDiv" style="display:none;" >
		<div class="panel panel-primary" >
                <div class="panel-heading" style="text-align:center;">Upload List </div>
                <div class="panel-body">
      <table class="table table-striped table-bordered table-hover" id="customerUploadTable">
                                    <thead>
                                 <tr>                            
                                    <th>Customer Name</th>
                                    <th>Vehicle RegNo.</th>
                                    <th>Category</th>                                   
                                    <th>Phone Number</th>                                    
                                    <th>Next Service Date</th>
                                    <th>Model</th>
                                    <th>Variant</th>
                                    <th>Last Disposition</th>
									<th>Select All <input type="checkbox" id=""/></th>    
                                 </tr>
                              </thead>
                                <tbody>
								<tr>
									<td>Rohit</td>
									<td>KA-06 N-2201</td>
									<td></td>
									<td>9879908703</td>
									<td>30/06/2017</td>
									<td>i10 Honda</td>
									<td>Blue</td>
									<td></td>
									<td><input type="checkbox" name="uploadname"/></td>
								</tr>
								<tr>
									<td>Lohit</td>
									<td>KA-06 N-2202</td>
									<td></td>
									<td>9879908703</td>
									<td>30/06/2017</td>
									<td>i11 Honda</td>
									<td>Red</td>
									<td></td>
									<td><input type="checkbox" name="uploadname"/></td>
								</tr>
                   </tbody>
           </table>
        </div>
        </div>
        </div>
                  <!-- <div class="row">
			<div class="col-md-12">
			<div class="pull-right">
					<button type="button" class="btn btn-success"><i class="fa fa-check-square" aria-hidden="true"></i> &nbsp;Submit</button>
			</div>
			</div>
		</div> --> 
                </div>
              </div>
            </div>
            <div class="tab-pane animated  bounceInRight" id="step2" > 
              <!----------------------------------Step2----------------------------->
              <div class="panel panel-primary">
                <div class="panel-heading" style="text-align:center;">MESSAGE</div>
                <div class="panel-body">
               <div>
	<div class="row">
    <div class="col-sm-4">
     <div class="form-group">
  <label for="sel1">Message Template</label>
 <select id="msgTypeID" name="smsTemplate" class="form-control">
                               <option value="0" >--Select--</option>
                               @for(smsTemplate_List<-smsTemplateList){
                               <option value="@smsTemplate_List.getSmsId()">@smsTemplate_List.getSmsTemplate()</option>
                            }
  </select>
</div>
    </div>
    <div class="col-sm-4">
		<div class="form-group">
  <label for="sel1">Message Parameters</label>
  <select class="form-control" id="ParameteID" >	
     <option value="0" >--Select--</option>
                                @for(msgParameters_list<-msgParameters){
                                <option value="@msgParameters_list.getMessageParameter()">@msgParameters_list.getMessageParameter()</option>
                             }
  </select>
</div>
    </div>
     <div class="col-sm-3">
		<div class="form-group">
  <label for="sel1">SMS API</label>
  <input type="text" class="form-control" name="smsAPI" id="smsAPI" value="@getsmsapi">
</div>
    </div>
	<div class="col-sm-3"><br />
	<button id="AddId" class="btn btn-info">Add</button>
	<br />
	</div>
  </div>
  <div class="row">
	<div class="col-sm-4">
    <div class="form-group">
  <label for="comment"><label>
  <textarea class="form-control addedTxt" rows="4" cols="90" id="txtAreaId" name="txtAreaId">
  </textarea>
</div>
    </div>
  </div>
  <button class="btn btn-success" id="SaveTemp" onclick="saveNewSmsTemplate();">Save Template</button> 
  </div>
                </div>
              </div>
            </div>  
    
            
            <!------------------------------------step14--------------------------------------------->
            <div class="tab-pane animated  bounceInRight" id="step14">
              <div class="panel panel-primary">
                <div class="panel-heading" style="text-align:center;">List</div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" id="selectedCustomers">
                                    <thead>
	                                 <tr>
	                                    <th>Customer Name</th>
	                                    <th>Vehicle RegNo.</th>
	                                    <th>Category</th>                                   
	                                    <th>Phone Number</th>                                    
	                                    <th>Next Service Date</th>
	                                    <th>Model</th>
	                                    <th>Variant</th>
	                                    <th>Last Disposition</th>                                    
	                                 </tr>
                              </thead>
                                <tbody>		
                   </tbody>
           </table>
                </div>
                </div>
            </div>
          </div>
          <div class="wizard-footer">
            <div class="pull-right">
              <button step2='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' id=""  name='next' value='Next' />
              Next
              </button>
              <button step2='button' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' name='finish' value='Finish' onclick="sendBulkSMS();"/>
              <i class="fa fa-check-square" aria-hidden="true" ></i>&nbsp;Send Bulk SMS
              </button>
            </div>
            <div class="pull-left">
              <button step2='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
              Previous
              </button>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- wizard container --> 
      <!----------------------------Wizard End-----------------------------------> 
      <!------------------------------------Last--------------------------------------------->
      <div class="panel panel-primary" style="display:none;">
        <div class="panel-heading" style="text-align:center;">INTERACTION HISTORY</div>
        <div class="panel-body" style="overflow:auto"> </div>
      </div>
      <!---------------------------------------- Last End---------------------------------------------------->       
    </div>
  </div>
</div>
}
<script>
var selectedUsers = [];
var dataInfo ={};
var setFlag = false;
$("#selectAll").click(function(){
	$("input[name=searchname]").prop('checked', $(this).prop("checked"));
	setFlag = true;   
		$("#hiddenSelectAllFlag").val("selectAll");
		var savedsearchname = $("#savedName option:selected").val();
		console.log("savedname in click function::"+savedsearchname);	
		
		getData(selectedUsers,setFlag,savedsearchname);
});
function getSelectedUser(){
	$("input[name='searchname']:checked").each(function(i) {
		selectedUsers.indexOf($(this).val()) === -1 ? selectedUsers.push($(this).val()) : console.log("This item already exists");	
		 }); 
		var savedsearchname = $("#savedName option:selected").val(); 
		console.log(" getSelectedUsersavedname in click function::"+savedsearchname);	
		
		if($("#hiddenSelectAllFlag").val() == "selectAll"){
			setFlag = true;
		}else{
			setFlag = false;
		}
	 	getData(selectedUsers,setFlag,savedsearchname);
}


function getData(selectedUsers,setFlag,savedsearchname){
	if(setFlag == true){
		selectedUsers = "all";
	}
	console.log("savedname in getData::"+savedsearchname);	
	console.log("selectedUsers in getData::"+selectedUsers);	
	var urlLink="/getSelectedUserListforDatatable/"+ selectedUsers + "/"+setFlag+"/"+savedsearchname+""; 
	console.log(urlLink);
	 $('#selectedCustomers').dataTable({
	     "bDestroy"  : true,
	     "processing": true,
	     "serverSide": true,
	     "scrollY"   : 300,
	     "paging"    : true,
	     "searching" : false,
	     "ordering"  : false,
	     "ajax"      : urlLink
	     });
}
function saveNewSmsTemplate(){
	 var messageTemplate = $("#txtAreaId").val(); 
	 var msgAPI = $("#smsAPI").val();
	dataInfo = {
			messageTemplate: messageTemplate,
			msgAPI: msgAPI,
	       };

		 $.ajax({
			   type       : "POST",
	           url        : "/postSMSTemplate",
	           dataType   : "json",
	           data       : JSON.stringify(dataInfo),
	           contentType: "application/json",
	     
	   }).done(function (getLatestSMS) {
		   if (getLatestSMS != null) {
			var dropdown = document.getElementById("msgTypeID"); 
		       dropdown[0]= new Option('Select','0');

		     console.log("inside forloop:"+getLatestSMS.smsTemplate);
	         dropdown[dropdown.length] = new Option(getLatestSMS.smsTemplate,getLatestSMS.smsId);
		}
	   });
}

function sendBulkSMS(){
	//var searchResultIds = $("#hiddenSelectAllFlag").val();
		var savedName 		=  $("#savedName option:selected").val(); 
		var smstemplateId   =  $('#msgTypeID option:selected').val();
		//var smstemplateId 		= $('.addedTxt').val();
		console.log("after sendBulkSms"+selectedUsers);
		var searchResultIds = selectedUsers;
		dataInfo = {
				savedName: savedName,
				smstemplateId: smstemplateId,
				searchResultIds: searchResultIds,
				setFlag: setFlag
		       };
		console.log("this is inside sendbulksms"+JSON.stringify(dataInfo));
		//var urlLink = "/postSMSBulk"
		 $.ajax({
			   type       : "POST",
	           url        : "/postSMSBulk",
	           dataType   : "json",
	           data       : JSON.stringify(dataInfo),
	           contentType: "application/json",
	           success    : function () {
	             alert("data sent to controller");
	           },
	       });
}


$(document).ready(function() {
$('#SearchId').on('click',function(){
	 var savedsearchname = $("#savedName option:selected").val(); 
	 var urlLink         = "/getCustomersListBySavedName/"+savedsearchname+""; 
	 console.log(savedsearchname);
	 $('#customerSearchTables').dataTable({
	     "bDestroy"  : true,
	     "processing": true,
	     "serverSide": true,
	     "scrollY"   : 300,
	     "paging"    : true,
	     "searching" : false,
	     "ordering"  : false,
	     "ajax"      : urlLink
	     });
	 }); 
$('#AddId').click(function(){ 
    var vpara       = $('#ParameteID :selected').val();
	var xpara       = "("+vpara+")";
	var enteredText = $('#txtAreaId').val();
	var res         = enteredText.concat(xpara);
	$('.addedTxt').val(xpara);	
	$('#txtAreaId').val(res);
});


/*var mydropdown = document.getElementById('msgTypeID');
var mytextbox = document.getElementById('txtAreaId');
mydropdown.onchange = function(){
	 mytextbox.focus();
     mytextbox.value = mytextbox.value  + this.value;
}*/


$('#msgTypeID').on('click',function(){
var	mydropdown = $('#msgTypeID option:selected').text();
$('#txtAreaId').val(mydropdown);
});
$("#UploadID").click(function(){
	$(".dataTable_wrapper").show();
});
$("#checkAll").change(function () {
    $("input[name=Searchname]").prop('checked', $(this).prop("checked"));
});
//$(this).prop("checked"));
/*$(function(){
	$(".selectAll").change(function () {
	    var sel = $('input[name=searchname]').map(function(_, el) {
	        return $(el).val();
	    }).get();
	    alert(sel);
    });
  });*/
  
$("input[name='SearchCust']").click(function(){
	var vsaerch = $(this).val();
	if(vsaerch=='Search Customer'){
		$("#SarchDivID").show();
		$("#getCustomerId").show();
		
		$("#uploadDivID").hide();
		$(".UploadCustIdDiv").hide();
	}
	else if(vsaerch=='Upload Customer'){
		$("#uploadDivID").show();
		$("#SarchDivID").hide();
		$(".SearchCustId").hide();
		$("#getCustomerId").show();
	}
	else{
    }
});

$("#SearchId").click(function(){
$(".SearchCustId").show();
});

$("#uploadcustId").click(function(){
$(".UploadCustIdDiv").show();
});

/*$(document).ready(function() {
  //  $('#customerSearchTable').DataTable();
});

$(document).ready(function() {
  //  $('#customerUploadTable').DataTable();
});*/
});
</script>