@(service:Service,vehicleData:Vehicle,userName:String,dealerName:String,psfAgeDiv:Html)

<div class="panel panel-primary">
    <div class="panel-heading" align="center"; style="background-color:#1797be; color: #fff;"><img src="@routes.Assets.at("images/INTERACTION HISTORY.png")" style="width:17px"/>&nbsp;<b>Mahindra PSF Form,   
    
    	@if(vehicleData.isCommercialVehicle()){
    		Commercial Vehicle    	
    	
    	}else{
    	
    	@if(vehicleData.getAge_of_vehicle()<=730){
    	
    	VEHICLE AGE IS less than or equal to 2 YRS
    	}else{
    	
    	VEHICLE AGE IS greater than 2 YRS
    	}
    	
    	}  </b> 
		</div>  	
    <div class="panel-body">
		<div class="col-md-12">
			<div class="form-group">
		<div id="mahindraAgeing1" class="animated  bounceInRight">
		  <p>Are you able to connect with the customer?</p>	
		  
		  <div class="radio-inline">
			<label>
			  <input type="radio" name="isContacted" value="Yes" id="">
			  Yes </label>
		  </div>
		  <div class="radio-inline">
			<label>
			  <input type="radio" name="isContacted" value="No" id="" >
			  No</label>
		  </div>
		 </div>
		 
		 <div style="display:none;" class="animated  bounceInRight" id="mahinAngNotConnect">
			<p>Choose reason for not being able to talk to customer:</b>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Ringing No response" id="">
				Ringing No response </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Busy" id="" >
				Busy</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Switched Off / Unreachable" id="" >
				Switched Off / Unreachable</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Invalid Number" id="" >
				Invalid Number</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="NoOther" id="MaruthiOthersCheck" >
				Other</label>
			</div>
			
			
			<div class="row animated  bounceInRight"  id="psf4DayOthers" style="display:none;">
			<div class="col-md-3">
			<label><b>Remarks</b></label>
			<textarea type="text" class="form-control Psf4thdayRemarks" rows="1" name="OtherComments"></textarea>
			</div>
			</div>
			<div class="pull-right">
						
					<button type="button" class="btn btn-info" name="" id="BackToAgeing1stQ">Back</button>
					<button type="submit" class="btn btn-info" name="" id="psf4dayNoContact">Submit</button>
			</div>
		  </div>
		  
		   <div style="display:none;" class="animated  bounceInRight" id="MahiiAng1GoodM" >
			
			<div class="">
			
			<p>Mahindra Namaksar ! Sir/Madam, I am <b>@userName </b>, Calling from <b>@dealerName</b>, Am I speaking to Mr./Ms. <b>@{vehicleData.getCustomer().getCustomerName()}</b> ? </p>
		 <div class="radio-inline">
			<label>
			  <input type="radio" name="qM4_confirmingCustomer" value="Yes" id="goodYesAgeing">
			  Yes </label>
		  </div>
		   <div class="radio-inline">
			<label>
			  <input type="radio" name="qM4_confirmingCustomer" value="No" id="goodNoAgeing" data-target="#addBtn" data-toggle="modal" data-backdrop="static" data-keyboard="false" >
			  No </label>
		  </div>
		  </div>
		   <div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo1stMQAge">Back</button>						
					<button type="button" class="btn btn-info" id="NextToQuest3Age">Next</button>
			</div>
		  </div>
		  
		  <div style="display:none;" class="row animated  bounceInRight" id="ManhinNotAgeing">
		    <div class="col-md-12">
			 	<p>Sorry to bother you. May I know the suitable time when I can speak to Mr./Ms. <b>@{vehicleData.getCustomer().getCustomerName()}</b></p>
			 </div>
			 <div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo2ndQClLatAgeing">Back</button>						
					<button type="submit" class="btn btn-info" id="psf4thDay2ndsubmit">Submit</button>
			</div>
			</div>
			
				 <div style="display:none;" class="row animated  bounceInRight" id="agingPSF3rdQ">
		    <div class="col-md-12">
			 	<p>Sorry to bother you. May I know the suitable time when I can speak to you</p>
			 
				  <div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo3rdQMAhisAgeing">Back</button>						
					<button type="submit" class="btn btn-info" id="Samepsf4thDay2ndsubmit">Submit</button>
			</div>
				
			</div>
			</div>
			 <div class="" style="display:none" id="FollowUpDateDiv" >
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="followUpDate">Follow Up Date</label>
					  <input type="text" name="psfFollowUpDate" class="showOnlyFutureDate form-control" id="followUpDT4thDay" readonly>
					</div>
				  </div>
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="followUpTime">Follow Up Time</label>
					  <input type="text" name="psfFollowUpTime" class="single-input form-control" id="followTM4thDay" readonly>
					</div>
				  </div>
				   <div class="col-md-3">
					<div class="form-group">
					  <label for="followUpTime">Remarks</label>
					  <textarea type="text" name="remarksList[1]" class="form-control" id="followUp4thComment"></textarea>
					</div>
				  </div>
				
			</div>
			<input type="hidden" id="ageOfVehicleIS" name="ageOfVehicleIS" value="@{vehicleData.getAge_of_vehicle()}">
			<input type="hidden" id="commercialVeh" name="commercialVeh" value="@{vehicleData.isCommercialVehicle()}">
		  
		    <div style="display:none;" class="row animated  bounceInRight" id="ManhinYesAgeing">
			<div class="col-md-12">
			<p>Thank You ! Is it right time to speak with you?</p>
			<p>I would like to enquire about your Mahindra vehicle <b>@{vehicleData.getVehicleRegNo()}</b>, <b>@{vehicleData.getModel()}</b>, attended by <b>@{service.getSaName()}</b>, on,<b>@{service.getJobCardDateStr()}</b>
			<date></p>
			 <div class="radio-inline">
			<label>
			  <input type="radio" name="qM4_RightTimeToEnquireOrderbillDate" value="Yes" id="righttimeAgeingYes">
			  Yes </label>
		  </div>
		   <div class="radio-inline">
			<label>
			  <input type="radio" name="qM4_RightTimeToEnquireOrderbillDate" value="No" id="righttimeAgeingNo">
			  No </label>
		  </div>
			  <div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo2ndMahiQAge">Back</button>						
					<button type="button" class="btn btn-info" id="NextToQuest4Age">Next</button>
			</div>
			</div>
			</div>
	<div class="col-md-12 animated  bounceInRight" style="display:none;" id="upsellPsf4thDayageing">
			<label>Capture Lead : Is there an Upsell Opportunity.</label>
		   <br>
		   
			<div class="radio-inline">
			  <label>
			<input type="radio" name="LeadYesH" value="Yes" id="LeadYesID3Hyndai" >
				Yes</label>
			</div>
			<div class="radio-inline">
			  <label>
				<input type="radio" name="LeadYesH" value="No" id="LeadNoID3Hyndai" checked>
				No</label>
			</div>
			<div class="row animated  bounceInRight" style="display:none;" id="LeadHyndai3rdDay">
			<div class="col-md-12">
			  <div class="col-md-6">
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[0].upsellId" value="1" id="InsuranceIDCheck" onClick="loadLeadBasedOnUserLocation('InsuranceIDCheck','insuranceLead1')">
					Service</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="InsuranceSelect">
				 
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[0].taggedTo" id="insuranceLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments1" name="upsellLead[0].upsellComments"></textarea>
					</div>
				 
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[1].upsellId" value="2" id="MaxicareIDCheck" onClick="loadLeadBasedOnUserLocation('MaxicareIDCheck','maxicareLead')">
					Warranty / EW</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="MaxicareSelect">
					
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[1].taggedTo" id="maxicareLead">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments2" name="upsellLead[1].upsellComments"></textarea>
					</div>
				 
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="VAS myOutCheckbox" name="upsellLead[2].upsellId" value="3" id="VASID" onClick="loadLeadBasedOnUserLocation('VASID','vASLead1')"/>
					VAS</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="VASTagToSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[2].taggedTo" id="vASLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments3" name="upsellLead[2].upsellComments"></textarea>
					</div>
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[3].upsellId" value="4" id="ShieldID" onClick="loadLeadBasedOnUserLocation('ShieldID','warrantyLead1')" />
					Re-Finance / New Car Finance</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="ShieldSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[3].taggedTo" id="warrantyLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments4" name="upsellLead[3].upsellComments"></textarea>
					</div>
				 </div>
				</div>
				<div class="col-md-6">
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="Loan myOutCheckbox" name="upsellLead[4].upsellId" value="5" id="RoadSideAsstID" onClick="loadLeadBasedOnUserLocation('RoadSideAsstID','RoadSideAssiLead1')"/>
					Sell Old Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="RoadSideAssiSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[4].taggedTo" id="RoadSideAssiLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments5" name="upsellLead[4].upsellComments"></textarea>
					</div>
				  </div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="EXCHANGE myOutCheckbox" name="upsellLead[5].upsellId" value="6" id="EXCHANGEID" onClick="loadLeadBasedOnUserLocation('EXCHANGEID','buyNewCarLead1')"/>
					Buy New Car / Exchange</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="EXCHANGEIDSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[5].taggedTo" id="buyNewCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments6" name="upsellLead[5].upsellComments"></textarea>
					</div>
				 	</div>
				  <div class="checkbox">
				  <label>
					<input type="checkbox" class="UsedCar myOutCheckbox" name="upsellLead[6].upsellId" value="9" id="UsedCarID" onClick="loadLeadBasedOnUserLocation('UsedCarID','usedCarLead1')"/>
					Used Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="UsedCarSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[6].taggedTo" id="usedCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
			<textarea class="form-control" rows="1" id="comments7" name="upsellLead[6].upsellComments"></textarea>
					</div>
				 
				</div>
		   
			  </div>
			</div>
			 
			</div>
			  <div class="pull-right" >
			<button type="button" class="btn btn-info" id="BackToFeedBack4thDay">Back</button>
			  <button type="button" class="btn btn-info" id="nextTo4thDayRating">Next</button>
			</div>
			</div>
			<div style="display:none;" class="row animated  bounceInRight" id="fedBack4thDayDispo" >
		   <div class="col-md-12">
			 	<p>Can I take a moment to update your Information? </p>
			 				 
				  	<div class="radio-inline">
					<label>
					  <input type="radio" name="feedbackYes" value="Yes" id="" data-target="#addBtn" data-toggle="modal" data-backdrop="static" data-keyboard="false">
					  Yes </label>
				</div>
				<div class="radio-inline">
					<label>
					  <input type="radio" name="feedbackYes" value="No" id="" checked>
					 No </label>
				</div>
				<div class="pull-right">
<button type="button" class="btn btn-primary" id="BackToupsell4thDayPsd">Back</button>
<button type="submit" class="btn btn-success" id="ratingSubmit3rdDayM">Submit</button>
				</div>
				</div>
				</div>
	@psfAgeDiv
			
          
          </div>
        </div>
       
      </div>
    </div>
    <script src="@routes.Assets.at("javascripts/psf4thDayDisposition.js")" type="text/javascript"></script>