@()
<!----------------Ageing above 2 year -------------------------------------------->
			<div style="display:none;" class="animated  bounceInRight" id="ageingAbove2Year" >
	
			<p>Thank You Sir/Madam, Request you to rate the following questions on a scale of 1-10.Where 10 would be considered as Excellent. 9 would be considered as Good.</p>
			<p>8 and less than 8 would be considered as unacceptable and CCCF will be opened for the same.</p>
			<div class="row">
				<table class=" table table-responsive table-striped table-bordered">
        <thead>
            <tr>
                <th>Sl No.</th>
                <th>Questions</th>
                <th>Rating</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>How would you rate on Overall  Appointment Process ?</td>
                <td > <select class="form-control input-sm " id="1stQSelectAbove2" name="qM1RatingOverAllAppointProcess">
        <option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
               
            </tr>
			
				<tr>
					<td>2</td>
					<td>How would you rate on  Time taken for  vehicle handover to SA/RM?</td>
					<td><select class="form-control input-sm" id="2ndQSelectAbove2" name="qM2RatingTimeTakenVehiclehandOver">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
				<tr>
					<td>3</td>
					<td>How would you rate on Service Advisor Courtesy & Response?</td>
					<td ><select class="form-control input-sm " id="3rdQSelectAbove2" name="qM3RatingServicAdvCourtesyResponse">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
				<tr>
					<td>4</td>
					<td>How would you Rate Service Advisor on Job  explanation , Time & Cost Estimate?</td>
					<td ><select class="form-control input-sm " id="4thQSelectAbove2" name="qM4RatingServiceAdvJobExpl">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
				<tr>
					<td>5</td>
					<td>How would you rate on Fairness of charges?</td>
					<td ><select class="form-control input-sm " id="5thQSelectAbove2" name="qM7RatingFairnessOfCharge" >
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
				<tr>
					<td>6</td>
					<td>How would  you Rate on total time required to service your vehicle?</td>
					<td ><select class="form-control input-sm " id="6thQSelectAbove2" name="qM9RatingTotalTimeRequired">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
				<tr>
					<td>7</td>
					<td>How would you rate the quality of maintenance/repair work performed?</td>
					<td ><select class="form-control input-sm " id="7thQSelectAbove2" name="qM10RatingQualityOfMaintenance">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr><tr>
					<td>8</td>
					<td>How would you rate on the condition/cleanliness of your vehicle at the time of delivery?</td>
					<td ><select class="form-control input-sm " id="8thQSelectAbove2" name="qM11RatingCondAndCleanlinessOfVeh">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr><tr>
					<td>9</td>
					<td>How would you rate on overall service experience?</td>
					<td><select class="form-control input-sm " id="9thQSelectAbove2" name="qM12RatingOverAllServExp">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
				
			</tbody>
			</table>
			 </div> 
              <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Remarks</label>
                      <textarea type="text" name="remarksList[2]" class="form-control" rows="2" id=""></textarea>
                    </div>
                  </div>
			 							
					<div class="pull-right">
                        <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#IncompleteSurvey">Incomplete Survey</button>
					<button type="button" class="btn btn-info" id="BackTo3rdQuesMaAgeing">Back</button>	
                    <button type="button" class="btn btn-primary" id="nextToPASageAbove2">Next</button> 					
					<!-- <button type="submit" class="btn btn-info" id="psfAgeAbove2Submit">Submit</button> -->
			</div>
			</div>
			